---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v2/channels/demorestaurant/restaurants.json
    body:
      encoding: US-ASCII
      string: restaurant[name]=oscar&restaurant[remote_id]=123456&restaurant[logo]=https%3A%2F%2Fwww.google.com%2Fimages%2Fsrpr%2Flogo4w.png&restaurant[location]=123%20North%20St%20New%20York&restaurant[owner][name]=Syca&restaurant[owner][email]=syca%40zuppler.com&restaurant[owner][phone]=0745586010
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4cba20b3847097bc17b7715300451302"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"id":null,"name":"oscar","permalink":"oscar-1","description":null,"logo":"http://www.zuppler.com/images/icons/media/pictures_medium_missing.png","cuisines":"","amenities":"","owner":{"name":"Syca","email":"syca@zuppler.com","phone":"0745586010"},"":null,"configuration":{"payments":{"credit_card":true,"credit_card_on_delivery":false,"cash":false,"custom":""},"taxes":{"service_charge":"0.0","sales":"10.0"}},"discounts":[],"photos":[]}'
  recorded_at: Thu, 01 Aug 2013 09:26:46 GMT
- request:
    method: get
    uri: http://api.biznettechnologies.com/v2/channels/demorestaurant/restaurants.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"9b7c1ba2f9cad0061b5c9a9563ab698a"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":498,"permalink":"proteinbar","name":"Protein Bar - Franklin
        & Adams"},{"id":905,"permalink":"shogunbrighton","name":"Shogun - Brighton"},{"id":908,"permalink":"shogunmacombtwp","name":"Shogun
        - Macomb Twp"},{"id":906,"permalink":"shogunstclairshores","name":"Shogun
        - St. Clair Shores"},{"id":904,"permalink":"shogunsterlingheights","name":"Shogun
        - Sterling Heights"},{"id":242,"permalink":"demorestaurant","name":"Demo Restaurant"},{"id":242,"permalink":"demorestaurant","name":"Demo
        Restaurant"},{"id":896,"permalink":"tacoburritoking","name":"Taco Burrito
        King"},{"id":1096,"permalink":"oscar","name":"oscar"}]'
  recorded_at: Thu, 01 Aug 2013 09:26:47 GMT
recorded_with: VCR 2.5.0
