---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants.json
    body:
      encoding: US-ASCII
      string: restaurant[name]=Restaurant%20-%20Littel%2C%20Lind%20and%20Sanford
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6ffcbc25ffcef7faebe07507ea6d903e"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"restaurant":{"id":2014,"name":"Restaurant - Littel,
        Lind and Sanford","permalink":"restaurantlittellindandsanford","locale":"en","welcome_message":null,"logo":{"active":false},"amenities":"","cuisines":"","address":{},"hours_of_operation":{"info":"<strong>Sun
        - Sat</strong>: 6:00am  - 12:00pm , 12:00pm  - 6:00pm , 6:00pm  - 12:00am  (next
        day)<br/>"},"messages":{"state":"State","zip":"Zip","user_anonymous":"Guest","item":"{1}
        item","items":"{1} items","item_min":"You should select at least {1}","item_max":"You
        should select at most {1}","item_min_max":"You should select between {1} and
        {2}","item_fix":"You should select exactly {1}","item_err_at_least":"Please
        select at least {1}","item_err_at_most":"Please select at most {1}","ordering_paused":"Online
        Ordering is currently paused. Please check back later.","ordering_paused_restaurant_closed":"We
        are not accepting online orders at this time.","add_address_button":"Add Address...","loading_menu":"Loading&hellip;<br/>
        Please Wait","first_time_deal":"first time user discount, sign in to apply","first_time_deal_enabled":"first
        time user discount, click to apply","first_time_deal_disabled":"applies only
        for first time users","failed_load_core":"Failed to load menu. Please try
        to reload page again later","failed_load_menu_item":"Failed to load menu item.
        Please try again later","failed_load_cart_components":"Failed to initialize
        cart. Please try to reload page again later","failed_cart_add":"Failed to
        add item to cart. Please try again later","failed_cart_update":"Failed to
        update item. Please try again later","failed_cart_remove":"Failed to remove
        item from cart. Please try again later","failed_cart_discount_add":"Failed
        to apply discount. Please try again later","failed_cart_discount_remove":"Failed
        to remove discount. Please try again later","fail_add_address":"Failed to
        add address. Please try again later","errors":"Errors","infos":"Infos","select_address":"Select
        address...","select_an_address":"select an address...","add_address":"Add
        address...","add_address_short":"+","enter_promo_code":"Enter promo code:","login_or_signup_for_discount":"Please
        login or signup to apply this discount","apply":"Apply","login_apply":"Sign
        in &amp; Apply","jump_to":"Go to&hellip;","private_mode_warn":"You are in
        private browsing mode. In this mode your cart will not be available if you
        reload or navigate back to this page.","unsupported_storage":"You are using
        an old browser. Saving your cart items and settings is not persistent if you
        reload this page or navigate back to it. Please upgrade your browser.","enter_deliver_address":"Enter
        Delivery Address:","address_street":"Street:","address_cross_street":"* Cross
        Street:","address_abf":"Apt, Building, Floor:","address_city":"City:","address_dinstr":"Delivery
        instructions:","address_dinstr_hint":"e.g. specific room#, floor, department,
        special loading area etc.","address_location_name":"Location Name:","address_location_hint":"e.g.
        home, my office","cancel_btn":"Cancel","save_btn":"Save","close_btn":"Close","add_to_order_btn":"Add
        to Order","add_btn":"Add","view_discounts_btn":"View available discounts","click_to_customize":"Click
        to customize","done":"Done","qty":"Quantity:","short_qty":"Qty:","click_item_to_add":"Click
        on a menu item to add to order","click_discount_to_apply":"Click on a discount
        to apply:","sign_in":"Sign in","click_discount_to_apply_first_time":" and
        apply your first time user discount:","read_more":"read more&hellip;","view_order":"Checkout","login":"Sign
        in","hide_order":"Back to Menu","back_to_menu":"Back to Menu","promo":"Promo","enter_discount_promo_code":"Enter
        Discount Promo Code","order_options":"Order Options","order_summary":"Your
        Order","from":"from","more_dotdot":"more&hellip;","select_location":"select
        a restaurant location...","click_to_map":"click to see location on map&hellip;","curbside_hint":"vehicle
        make, model, color and type","buckid_hint":"enter #","payment":"Payment:","discount":"Discount:","order_total":"Order
        Total:","edit_items":"Edit Items","time":"Time:","special_instr":"special
        instructions","ok":"OK","map":"Map","redirect_responsive":"This site is not
        optimized for mobile. Do you want to go the mobile optimized page?","sold_out":"Sold
        Out","tip_select_address":" to select from your saved addresses","discounts":"Discounts","account_section":"Account"},"menu_messages":[],"gallery":[],"images":[],"locations":[],"configuration":{"require_cross_street":false,"hide_comments":null,"sold_out":null,"ordering_paused":false,"payments":{"credit_card":true,"credit_card_on_delivery":false,"cash":true,"custom":null},"taxes":{"service_charge":0.0,"sales":10.0},"delivery":{"active":false,"settings":{"description":null,"min_order":15},"contact":{"name":null,"email":null,"phone":null,"fax":null},"rules":[]},"pickup":{"active":false,"settings":{"description":null,"min_order":0},"contact":{"name":null,"email":null,"phone":null,"fax":null}},"dinein":{"active":null,"settings":{"description":null,"min_order":0},"contact":{"name":null,"email":null,"phone":null,"fax":null}},"curbside":{"active":null,"settings":{"description":null,"min_order":0},"contact":{"name":null,"email":null,"phone":null,"fax":null}}},"discounts":[],"events":[]}}'
  recorded_at: Wed, 29 Jan 2014 11:04:51 GMT
recorded_with: VCR 2.5.0
