---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v2/channels/zuppler/restaurants.json
    body:
      encoding: US-ASCII
      string: restaurant[name]=Restaurant%20-%20Koelpin%2C%20Cummerata%20and%20Cassin&restaurant[remote_id]=1234%20-%20Koelpin%2C%20Cummerata%20and%20Cassin&restaurant[logo]=https%3A%2F%2Fwww.google.com%2Fimages%2Fsrpr%2Flogo4w.png&restaurant[location]=123%20North%20St%20New%20York&restaurant[owner][name]=Iulian&restaurant[owner][email]=iulian.costan%40zuppler.com&restaurant[owner][phone]=0745586010
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"87d671e78c628f936e87457a3de7e15e"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"id":2006,"name":"Restaurant - Koelpin,
        Cummerata and Cassin","permalink":"restaurantkoelpincummerataandcassin","description":null,"logo":"http://cdn.zuppler.com/images/pictures/files/000/019/221/medium/open-uri20131204-24124-21ojnu.?1386165262","cuisines":"","amenities":"","owner":{"name":"Iulian","email":"iulian.costan@zuppler.com","phone":"0745586010"},"address":{"id":261255,"street":"123
        North Street","block":null,"city":"Rye","state":"NY","country":"US","zip":"10580","lat":"40.976753","lng":"-73.694657"},"configuration":{"payments":{"credit_card":true,"credit_card_on_delivery":false,"cash":false,"custom":""},"taxes":{"service_charge":"0.0","sales":"10.0"}},"discounts":[],"photos":[]}'
  recorded_at: Wed, 04 Dec 2013 13:55:50 GMT
recorded_with: VCR 2.5.0
