---
http_interactions:
- request:
    method: post
    uri: http://api.zuppler.dev/v2/channels/demorestaurant/restaurants.json
    body:
      encoding: US-ASCII
      string: restaurant[name]=Restaurant%20-%20Langworth-Kirlin&restaurant[remote_id]=1234%20-%20Langworth-Kirlin&restaurant[logo]=https%3A%2F%2Fwww.google.com%2Fimages%2Fsrpr%2Flogo4w.png&restaurant[location]=123%20North%20St%20New%20York&restaurant[owner][name]=Iulian&restaurant[owner][email]=iulian.costan%40zuppler.com&restaurant[owner][phone]=0745586010
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c9cd6cc878f3ba257a22ae4dfcbfc88b"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"id":1838,"name":"Restaurant - Langworth-Kirlin","permalink":"restaurantlangworthkirlin","description":null,"logo":"http://cdn.zuppler.com/images/pictures/files/000/018/115/medium/open-uri20130906-83664-1nwvjqi.?1378471464","cuisines":"","amenities":"","owner":{"name":"Iulian","email":"iulian.costan@zuppler.com","phone":"0745586010"},"address":{"id":232792,"street":"123
        North Street","block":null,"city":"Middletown","state":"NY","country":"US","zip":"10940","lat":"41.449022","lng":"-74.41803"},"configuration":{"payments":{"credit_card":true,"credit_card_on_delivery":false,"cash":false,"custom":""},"taxes":{"service_charge":"0.0","sales":"10.0"}},"discounts":[],"photos":[]}'
  recorded_at: Fri, 06 Sep 2013 12:44:29 GMT
recorded_with: VCR 2.5.0
