---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants.json
    body:
      encoding: UTF-8
      string: restaurant[name]=Restaurant%20-%20Cronin%20Group&restaurant[address]=102%20Church%20Ave%2C%20College%20Station%2C%2077840
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8c218762119f1a7cb58b328bdf4395ea"'
    body:
      encoding: UTF-8
      string: '{"success":true,"restaurant":{"id":3614,"name":"Restaurant - Cronin
        Group","permalink":"restaurantcroningroup","locale":"en","welcome_message":null,"locations":[{"id":4261,"name":"102
        Church Avenue, College Station","address":"102 Church Ave, College Station,
        77840","geo":{"lat":"30.6168383","lng":"-96.3488479"}}],"loyalty_services":[],"configuration":{"require_cross_street":false,"hide_comments":null,"sold_out":null,"ordering_paused":false,"disable_group_ordering":null,"disable_quantity":null,"catering":null,"napkins":true,"delivery":{"active":false,"settings":{"description":null,"min_order":"15.0"},"contact":{"name":null,"email":null,"phone":null,"fax":null},"rules":[]},"pickup":{"active":false,"settings":{"description":null,"min_order":0},"contact":{"name":null,"email":null,"phone":null,"fax":null}},"dinein":{"active":null,"settings":{"description":null,"min_order":0},"contact":{"name":null,"email":null,"phone":null,"fax":null}},"curbside":{"active":null,"settings":{"description":null,"min_order":0},"contact":{"name":null,"email":null,"phone":null,"fax":null}},"payments":{"credit_card":true,"credit_card_on_delivery":false,"cash":true,"custom":null},"taxes":{"service_charge":0.0,"sales":10.0}},"discounts":[],"events":[],"timezone":{"name":"Eastern
        Time (US & Canada)","offset":-240},"logo":{"active":false},"amenities":"","cuisines":"","address":{},"hours_of_operation":{"info":"<strong>Sun
        - Sat</strong>: 6:00am  - 12:00pm , 12:00pm  - 6:00pm , 6:00pm  - 12:00am  (next
        day)<br/>","days":{"Sun":["06:00-12:00","12:00-18:00","18:00-24:00"],"Mon":["06:00-12:00","12:00-18:00","18:00-24:00"],"Tue":["06:00-12:00","12:00-18:00","18:00-24:00"],"Wed":["06:00-12:00","12:00-18:00","18:00-24:00"],"Thu":["06:00-12:00","12:00-18:00","18:00-24:00"],"Fri":["06:00-12:00","12:00-18:00","18:00-24:00"],"Sat":["06:00-12:00","12:00-18:00","18:00-24:00"]},"machine":[[[360,720],[720,1080],[1080,1440]],[[360,720],[720,1080],[1080,1440]],[[360,720],[720,1080],[1080,1440]],[[360,720],[720,1080],[1080,1440]],[[360,720],[720,1080],[1080,1440]],[[360,720],[720,1080],[1080,1440]],[[360,720],[720,1080],[1080,1440]]]},"messages":{},"localization_resource_url":"http://api.biznettechnologies.com/v3/menu_localizations/en.json","menus_url":"http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/restaurantcroningroup/menus.json","menu_messages":[],"gallery":[],"images":[],"collaborations":{"resource_url":"http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/restaurantcroningroup/collaborations.json"},"orders":{"resource_url":"http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/restaurantcroningroup/orders.json"}}}'
  recorded_at: Mon, 04 May 2015 05:44:37 GMT
recorded_with: VCR 2.9.3
