---
http_interactions:
- request:
    method: get
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e1f9bfc62109eac6e8446b64537a8530"'
    body:
      encoding: UTF-8
      string: '{"success":true,"restaurant":{"id":242,"name":"demo","permalink":"demorestaurant","locale":"en","welcome_message":"If
        you would like to place a delivery order, select the delivery address as 1500
        Market Street, Philadelphia PA.  \n\nWe are the best.\n","locations":[{"id":4239,"name":"730
        E Elm Street, Conshohocken","address":"730 E Elm Street, Conshohocken, PA
        19428","geo":{"lat":"40.074143","lng":"-75.292784"}}],"loyalty_services":[{"id":1,"settings":{"businessid":"chickensaladchick","pos_id":"8"},"type":"Restaurant::LoyalTreeService"}],"configuration":{"require_cross_street":false,"hide_comments":false,"sold_out":true,"ordering_paused":true,"disable_group_ordering":false,"disable_quantity":null,"catering":false,"napkins":true,"extra_fields":"set(label:
        \"Send a Gift\", name: \"Gift Options\")\n          date(birthday_date, name:
        \"Date\", label: \"Date\", dateFormat: \"d\", observe: \"zuppler.cart.settings.time.value\",
        observeDateFormat: \"yyyy-MM-dd HH:mm\")\n          text(gift_recipent_name,
        name: \"Gift Recipient Name\", label: \"Gift Recipent Name\")\n          text(gift_recipent_phone,
        name: \"Gift Recipient Phone\", label: \"Gift Recipent Phone\")\n          area(gift_special_message,
        name: \"Special Message\", label: \"Special Message\", rows: 3, note: \"Enter
        a special message to attach with the gift....\")\n          choices(occassion,
        name: \"What is the Occassion?\", label: \"Occassion\", values: [\"Birthday\",
        \"Anniversary\", \"Get Well Soon\", \"Simply because they are special\"],
        required)\n        endset\n\n        set(name: \"Allergies\", label: \"Allergies?\")\n          yesno(nut_allergies,
        label: \"Nut allergies\", name: \"Do you have any nut allergies?\", default:
        \"no\")\n        endset\n\n        set(name: \"Silverware\", label: \"Plastic
        Silverware\")\n          choices(napkins_reloaded, name: \"Silverware\", label:
        \"I need\", values:[\"Fork & Knife\", \"Chopsticks\", \"Save the planet and
        Go Green! No, Thanks!\"], default: \"Fork & Knife\")\n\nchoices(occassion,
        name: \"What is the Occassion?\", label: \"Occassion\", values: [\"Birthday\",
        \"Anniversary\", \"Get Well Soon\", \"Simply because they are special\"],
        required)\n\nchoices(occassion, name: \"What is the Occassion?\", label: \"Occassion\",
        values: [\"Birthday\", \"Anniversary\", \"Get Well Soon\", \"Simply because
        they are special\"], required)\n\nchoices(occassion, name: \"What is the Occassion?\",
        label: \"Occassion\", values: [\"Birthday\", \"Anniversary\", \"Get Well Soon\",
        \"Simply because they are special\"], required)\n\n        endset\n","delivery":{"active":true,"settings":{"description":"NOTE:
        $3.99 DELIVERY + 15% GRATUITY FOR ORDERS UP TO $100; FREE DELIVERY + 10% GRATUITY
        FOR ORDERS OVER $100.","min_order":"10.0"},"contact":{"name":"demo","email":"jerry.dani@zuppler.com","phone":"18889877537","fax":"18885033658"},"rules":[]},"pickup":{"active":true,"settings":{"description":"Come
        to the express lane to pickup your order. Your order will be ready and waiting
        for you. :)","min_order":0},"contact":{"name":"Demo","email":"jerry.dani@zuppler.com","phone":"18889877537","fax":"18885033658"}},"dinein":{"active":true,"settings":{"description":"Come
        to the express lane to pickup your order. Your order will be ready and waiting
        for you. :)","min_order":0},"contact":{"name":"Demo","email":"jerry.dani@zuppler.com","phone":"18889877537","fax":"18885033658"}},"curbside":{"active":true,"settings":{"description":"Please
        call us when you reach the curbside lane. Please Note: You do not have to
        get out of your car.  We will come to you with your order.","min_order":0},"contact":{"name":"demo","email":"","phone":"8883917107","fax":""}},"payments":{"credit_card":true,"credit_card_on_delivery":true,"cash":true,"custom":"secret"},"taxes":{"service_charge":5.0,"sales":7.0}},"discounts":[{"id":5408,"start_date":"2015-08-26","end_date":null,"first_time":true,"type":"PercentDiscount","promo":true,"badge":"10%","title":"
        off on orders_more than $100","applicable_on":"","active":true},{"id":5407,"start_date":"2015-07-22","end_date":null,"first_time":false,"type":"AmountDiscount","promo":false,"badge":"$10.00","title":"
        off on orders_more than $50","applicable_on":"","active":true},{"id":5406,"start_date":"2015-07-22","end_date":null,"first_time":false,"type":"PercentDiscount","promo":false,"badge":"10%","title":"
        off on orders_more than $100","applicable_on":"","active":true},{"id":5405,"start_date":"2015-07-22","end_date":null,"first_time":f[...]
- request:
    method: get
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/notfound.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bac4e48ae5ce46c8bbc0797f479be8df"'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":404,"name":"not found","message":"ActiveRecord::RecordNotFound"}}'
  recorded_at: Wed, 13 Jan 2016 12:39:53 GMT
recorded_with: VCR 2.9.3
