---
http_interactions:
- request:
    method: get
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"daeef790786318f88e04c29bbd1c4180"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"restaurant":{"id":242,"name":"Demo Restaurant","permalink":"demorestaurant","locale":"en","welcome_message":"If
        you would like to place a delivery order, select the delivery address as 1500
        Market Street, Philadelphia PA.  \r\n","timezone":{"name":"Eastern Time (US
        & Canada)","offset":-240},"logo":{"active":true,"id":7292,"xlarge":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/007/292/xlarge/logo_demo.jpg?1312052575","medium":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/007/292/medium/logo_demo.jpg?1312052575","thumb":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/007/292/thumb/logo_demo.jpg?1312052575","tiny":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/007/292/tiny/logo_demo.jpg?1312052575","original":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/007/292/original/logo_demo.jpg?1312052575"},"amenities":"Online
        Orders, Cocktail, Late Night, Coupons, Delivery, (Mon - Thu) Dinner Delivery
        Only, Carry Out, Pick Up","cuisines":"Pizza, Seafood, Continental","address":{},"hours_of_operation":{"info":"<strong>Sun</strong>:
        12:45am  - 6:45am <br/><strong>Mon - Sat</strong>: 12:45am  - 10:45pm <br/>","days":{"Sun":["00:45-06:45"],"Mon":["00:45-22:45"],"Tue":["00:45-22:45"],"Wed":["00:45-22:45"],"Thu":["00:45-22:45"],"Fri":["00:45-22:45"],"Sat":["00:45-22:45"]}},"messages":{},"localization_resource_url":"http://api.biznettechnologies.com/v3/menu_localizations/en.json","menu_messages":[],"gallery":[{"active":true,"id":7304,"xlarge":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/007/304/xlarge/10.jpg?1312057299","medium":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/007/304/medium/10.jpg?1312057299","thumb":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/007/304/thumb/10.jpg?1312057299"},{"active":true,"id":7305,"xlarge":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/007/305/xlarge/5.jpg?1312057301","medium":"http://dbgcbnch6y[...]
[...]
