---
http_interactions:
- request:
    method: post
    uri: http://users-api.biznettechnologies.com/v1/users/current/vaults.json
    body:
      encoding: UTF-8
      string: vault[name]=test&vault[brand]=visa&vault[number]=1234&vault[expiration_date]=11%2F2016&vault[uid]=abcd&vault[gateway_id]=braintree
    headers:
      Authorization:
      - Bearer 1f8639b026344721bd0126b039609835ffa931b44446907acc11a07719fce59a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e7ede83631d234991d0a107f6812e81"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"vault":{"id":195707,"expiration_date":"11/2016","created_at":"2018-03-27T10:55:24Z","gateway_id":"braintree","merchant_id":null,"uid":"abcd","brand":"visa","name":"test","number":"1234","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/195707"}]}}'
  recorded_at: Tue, 27 Mar 2018 10:55:25 GMT
recorded_with: VCR 4.0.0
