---
http_interactions:
- request:
    method: post
    uri: http://users.api.biznettechnologies.com/v1/users/current/vaults.json
    body:
      encoding: UTF-8
      string: vault[name]=test&vault[brand]=visa&vault[number]=1234&vault[expiration_date]=11%2F2016&vault[uid]=abcd
    headers:
      Authorization:
      - Bearer e4c22df01390e46bb2e7c9e07698e526b3674d5e24a45bc9e173a6fc3560d6c9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ebcb7a7083b6bd402cea64e7161f3210"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"vault":{"id":93382,"expiration_date":"11/2016","created_at":"2016-11-17T06:48:42Z","uid":"abcd","brand":"visa","name":"test","number":"1234","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/93382"}]}}'
  recorded_at: Thu, 17 Nov 2016 06:48:43 GMT
recorded_with: VCR 3.0.3
