---
http_interactions:
- request:
    method: post
    uri: http://users.api.biznettechnologies.com/v1/users/current/vaults.json
    body:
      encoding: UTF-8
      string: vault[name]=test&vault[brand]=visa&vault[number]=1234&vault[expiration_date]=11%2F2016&vault[uid]=abcd&vault[gateway_id]=braintree
    headers:
      Authorization:
      - Bearer cebb85da137eeb8fb264b2a652831b84f65a49f358f502f97596358e347ca18d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"872111e9e88eb0484925e30f165be39c"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"vault":{"id":171964,"expiration_date":"11/2016","created_at":"2017-09-26T08:58:58Z","uid":"abcd","brand":"visa","name":"test","number":"1234","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/171964"}]}}'
  recorded_at: Tue, 26 Sep 2017 08:59:00 GMT
recorded_with: VCR 3.0.3
