---
http_interactions:
- request:
    method: post
    uri: http://users.api.biznettechnologies.com/v1/users/current/vaults.json
    body:
      encoding: UTF-8
      string: vault[name]=test&vault[brand]=visa&vault[number]=1234&vault[expiration_date]=11%2F2016&vault[uid]=abcd&vault[gateway_id]=braintree
    headers:
      Authorization:
      - Bearer 1f8639b026344721bd0126b039609835ffa931b44446907acc11a07719fce59a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23e49a15b3975203f1967fc0f0f9e21a"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"vault":{"id":195581,"expiration_date":"11/2016","created_at":"2018-02-28T10:07:43Z","gateway_id":"braintree","merchant_id":null,"uid":"abcd","brand":"visa","name":"test","number":"1234","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/195581"}]}}'
  recorded_at: Wed, 28 Feb 2018 10:07:57 GMT
recorded_with: VCR 4.0.0
