---
http_interactions:
- request:
    method: get
    uri: http://users.api.biznettechnologies.com/v1/users/current/vaults.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e4c22df01390e46bb2e7c9e07698e526b3674d5e24a45bc9e173a6fc3560d6c9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"66ba45186fb512415837bacc9c34323a"
    body:
      encoding: UTF-8
      string: '{"success":true,"pagination":{"total":4,"page":0,"count":4},"status":{"code":200,"message":"OK"},"vaults":[{"id":93381,"expiration_date":"11/2016","created_at":"2016-11-17T06:47:41Z","uid":"abcd","brand":"visa","name":"test","number":"1234","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/93381"}]},{"id":93380,"expiration_date":"11/2016","created_at":"2016-11-17T06:27:30Z","uid":"abcd","brand":"visa","name":"test","number":"1234","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/93380"}]},{"id":93379,"expiration_date":"11/2016","created_at":"2016-11-17T06:19:47Z","uid":"abcd","brand":"visa","name":"test","number":"1234","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/93379"}]},{"id":93346,"expiration_date":"XX/2018","created_at":"2016-11-14T16:15:41Z","uid":"5qtqp","brand":"master","name":"Test
        Zuppler","number":"4444","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/93346"}]}]}'
  recorded_at: Thu, 17 Nov 2016 06:48:43 GMT
recorded_with: VCR 3.0.3
