---
http_interactions:
- request:
    method: get
    uri: http://users-api.biznettechnologies.com/v1/users/current/vaults.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f8639b026344721bd0126b039609835ffa931b44446907acc11a07719fce59a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"04bf397f3db69cdc06fa9b919282fe58"
    body:
      encoding: UTF-8
      string: '{"success":true,"pagination":{"total":4,"page":0,"count":4},"status":{"code":200,"message":"OK"},"vaults":[{"id":195581,"expiration_date":"11/2016","created_at":"2018-02-28T10:07:43Z","gateway_id":"braintree","merchant_id":null,"uid":"abcd","brand":"visa","name":"test","number":"1234","title":"test
        - visa - ****-1234","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/195581"}]},{"id":195580,"expiration_date":"11/2016","created_at":"2018-02-28T10:03:42Z","gateway_id":"braintree","merchant_id":null,"uid":"abcd","brand":"visa","name":"test","number":"1234","title":"test
        - visa - ****-1234","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/195580"}]},{"id":195579,"expiration_date":"11/2016","created_at":"2018-02-28T09:45:54Z","gateway_id":"braintree","merchant_id":null,"uid":"abcd","brand":"visa","name":"test","number":"1234","title":"test
        - visa - ****-1234","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/195579"}]},{"id":122103,"expiration_date":"XX/2018","created_at":"2017-01-30T18:23:17Z","gateway_id":"braintree","merchant_id":null,"uid":"dcpbkb","brand":"master","name":"Test
        Zuppler","number":"4444","title":"Test Zuppler - master - ****-4444","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/122103"}]}]}'
  recorded_at: Tue, 27 Mar 2018 10:55:24 GMT
recorded_with: VCR 4.0.0
