---
http_interactions:
- request:
    method: get
    uri: http://users.api.biznettechnologies.com/v1/users/current/print_params.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e4c22df01390e46bb2e7c9e07698e526b3674d5e24a45bc9e173a6fc3560d6c9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f717f064e82cc14de1afcb70a3eccfc6"
    body:
      encoding: UTF-8
      string: '{"print_params":{"token":"t"},"success":true,"status":{"code":200,"message":"OK"}}'
  recorded_at: Thu, 17 Nov 2016 15:56:15 GMT
recorded_with: VCR 3.0.3
