---
http_interactions:
- request:
    method: get
    uri: http://users.api.biznettechnologies.com/v1/users/current/providers.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f8639b026344721bd0126b039609835ffa931b44446907acc11a07719fce59a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"65fb1cee76419f49aa11178e7ca47cbc"
    body:
      encoding: UTF-8
      string: '{"success":true,"pagination":{"total":3,"page":0,"count":3},"status":{"code":200,"message":"OK"},"providers":[{"id":274181,"provider":"facebook","created_at":"2015-09-15T07:31:04Z","links":[{"name":"self","method":"get","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/providers/facebook"}]},{"id":510218,"provider":"punchh","created_at":"2017-05-19T12:27:02Z","links":[{"name":"self","method":"get","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/providers/punchh"}]},{"id":16106,"provider":"zuppler","created_at":"2012-01-25T18:27:22Z","links":[{"name":"self","method":"get","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/providers/zuppler"}]}]}'
  recorded_at: Wed, 28 Feb 2018 10:03:55 GMT
recorded_with: VCR 4.0.0
