---
http_interactions:
- request:
    method: get
    uri: http://users.api.biznettechnologies.com/v1/users/current/providers.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e4c22df01390e46bb2e7c9e07698e526b3674d5e24a45bc9e173a6fc3560d6c9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15caafa5431d0523ee0ea0d42ef4e1be"
    body:
      encoding: UTF-8
      string: '{"success":true,"pagination":{"total":2,"page":0,"count":2},"status":{"code":200,"message":"OK"},"providers":[{"id":274181,"provider":"facebook","created_at":"2015-09-15T07:31:04Z","links":[{"name":"self","method":"get","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/providers/facebook"}]},{"id":16106,"provider":"zuppler","created_at":"2012-01-25T18:27:22Z","links":[{"name":"self","method":"get","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/providers/zuppler"}]}]}'
  recorded_at: Thu, 17 Nov 2016 06:48:42 GMT
recorded_with: VCR 3.0.3
