---
http_interactions:
- request:
    method: get
    uri: http://users.api.biznettechnologies.com/v1/users/current/vaults.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cebb85da137eeb8fb264b2a652831b84f65a49f358f502f97596358e347ca18d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7348f8958ed6a6109bc2e6e58fbe83b5"
    body:
      encoding: UTF-8
      string: '{"success":true,"pagination":{"total":3,"page":0,"count":3},"status":{"code":200,"message":"OK"},"vaults":[{"id":171962,"expiration_date":"11/2016","created_at":"2017-09-26T08:34:19Z","uid":"abcd","brand":"visa","name":"test","number":"1234","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/171962"}]},{"id":171961,"expiration_date":"11/2016","created_at":"2017-09-26T08:14:27Z","uid":"abcd","brand":"visa","name":"test","number":"1234","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/171961"}]},{"id":122103,"expiration_date":"XX/2018","created_at":"2017-01-30T18:23:17Z","uid":"dcpbkb","brand":"master","name":"Test
        Zuppler","number":"4444","links":[{"name":"self","methods":["get","delete"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults/122103"}]}]}'
  recorded_at: Tue, 26 Sep 2017 08:53:17 GMT
recorded_with: VCR 3.0.3
