---
http_interactions:
- request:
    method: get
    uri: http://users-api.biznettechnologies.com/v1/users/current/print_params.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f8639b026344721bd0126b039609835ffa931b44446907acc11a07719fce59a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f717f064e82cc14de1afcb70a3eccfc6"
    body:
      encoding: UTF-8
      string: '{"print_params":{"token":"t"},"success":true,"status":{"code":200,"message":"OK"}}'
  recorded_at: Tue, 27 Mar 2018 10:55:20 GMT
recorded_with: VCR 4.0.0
