---
http_interactions:
- request:
    method: get
    uri: http://users.api.biznettechnologies.com/v1/users/current/print_params.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cebb85da137eeb8fb264b2a652831b84f65a49f358f502f97596358e347ca18d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f717f064e82cc14de1afcb70a3eccfc6"
    body:
      encoding: UTF-8
      string: '{"print_params":{"token":"t"},"success":true,"status":{"code":200,"message":"OK"}}'
  recorded_at: Tue, 26 Sep 2017 08:53:16 GMT
recorded_with: VCR 3.0.3
