---
http_interactions:
- request:
    method: get
    uri: http://users.api.biznettechnologies.com/v1/users/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e4c22df01390e46bb2e7c9e07698e526b3674d5e24a45bc9e173a6fc3560d6c9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"28720f0e7cd5afa39c122706dfec1981"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"user":{"id":14802,"uuid":"589e9ac9-a8c1-47ed-bf4b-aa9b19431249","name":"Demo
        Restaurant","email":"test@zuppler.com","phone":"610-844-2971","created_at":"2012-01-25T18:27:22Z","roles":["restaurant","dispatcher"],"acls":{"channel":[9],"restaurant":[242],"delivery_service":[1,10]},"zuppler_bucks":"616.1","zuppler_points":77969,"zupp_bucks":{"242":546.1,"1":70.0},"zupp_points":{"total":77969,"total_in_dollars":77.97},"gravatar_id":"b120236ab9362cc0ee826a1145e1fdff","links":[{"name":"self","methods":["get"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249"},{"name":"vaults","method":"get","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults"},{"name":"orders","method":"get","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/orders"},{"name":"grant","method":"put","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/grant"},{"name":"revoke","method":"put","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/revoke"},{"name":"touch","method":"put","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/touch"},{"name":"providers","method":"get","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/providers"},{"name":"print_params","methods":["get","put"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/print_params"}]}}'
  recorded_at: Tue, 15 Nov 2016 09:18:26 GMT
- request:
    method: put
    uri: http://users.api.biznettechnologies.com/v1/users/14802/zupps_revoke.json
    body:
      encoding: UTF-8
      string: bucks[restaurant_id]=1&bucks[amount]=1000
    headers:
      Authorization:
      - Bearer e4c22df01390e46bb2e7c9e07698e526b3674d5e24a45bc9e173a6fc3560d6c9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e9c5a7e5771a53b0556e885abf918308"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"Zupps revoked"}}'
  recorded_at: Tue, 15 Nov 2016 09:18:27 GMT
- request:
    method: get
    uri: http://users.api.biznettechnologies.com/v1/users/14802.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e4c22df01390e46bb2e7c9e07698e526b3674d5e24a45bc9e173a6fc3560d6c9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a3e36f2574c7cfddbe85b511bef068a"
    body:
      encoding: UTF-8
      string: '{"s[...]
