---
http_interactions:
- request:
    method: get
    uri: http://users.api.biznettechnologies.com/v1/users/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cebb85da137eeb8fb264b2a652831b84f65a49f358f502f97596358e347ca18d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c4181234d9d43715015fd6c500e50794"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"user":{"id":14802,"uuid":"589e9ac9-a8c1-47ed-bf4b-aa9b19431249","name":"Test
        Zuppler 2","email":"test@zuppler.com","phone":"610-844-2971","locales":[],"created_at":"2012-01-25T18:27:22Z","roles":["restaurant","dispatcher"],"acls":{"channel":[9],"restaurant":[242],"delivery_service":[1,10]},"zuppler_bucks":"-1432.4","zuppler_points":73969,"zupp_bucks":{"242":547.6,"1":-1980.0},"zupp_points":{"total":73969,"total_in_dollars":73.97},"gravatar_id":"b120236ab9362cc0ee826a1145e1fdff","links":[{"name":"self","methods":["get","patch","put"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249"},{"name":"vaults","method":"get","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults"},{"name":"grant","method":"put","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/grant"},{"name":"revoke","method":"put","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/revoke"},{"name":"touch","method":"put","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/touch"},{"name":"providers","method":"get","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/providers"},{"name":"print_params","methods":["get","put"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/print_params"}]}}'
  recorded_at: Tue, 26 Sep 2017 08:53:18 GMT
- request:
    method: put
    uri: http://users.api.biznettechnologies.com/v1/users/current/zupps_reward.json
    body:
      encoding: UTF-8
      string: points[amount]=1000
    headers:
      Authorization:
      - Bearer cebb85da137eeb8fb264b2a652831b84f65a49f358f502f97596358e347ca18d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e6e95b8c1cd64f32f2625e5c9670815"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"Zupps rewarded"}}'
  recorded_at: Tue, 26 Sep 2017 08:53:19 GMT
[...]
