---
http_interactions:
- request:
    method: post
    uri: http://users.biznettechnologies.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=fd61a191c8b26b364b03eacac66913088abad7e5d144cf0e319d553335e6bbc3&client_secret=45669935c634a6cf28f630384cdd6d5bd490983f207005126a9fa1a52fcbbaf6&grant_type=client_credentials&scope=admin
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff2f69b36d3e5cfd69c84f10546fbc90"
    body:
      encoding: UTF-8
      string: '{"access_token":"4254d34862b477f95a8e84bd7264e82e78350858dafdec5f4f45737dc269b20e","token_type":"bearer","expires_in":86400,"scope":"admin","created_at":1479365320}'
  recorded_at: Thu, 17 Nov 2016 06:48:41 GMT
- request:
    method: post
    uri: http://users.api.biznettechnologies.com/v1/users/search.json
    body:
      encoding: UTF-8
      string: role=ambassador
    headers:
      Authorization:
      - Bearer 4254d34862b477f95a8e84bd7264e82e78350858dafdec5f4f45737dc269b20e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d158a1344c279119dcd11e66b45158a"
    body:
      encoding: UTF-8
      string: '{"success":true,"pagination":{"total":41,"page":1,"per_page":20,"page_count":3,"count":10},"status":{"code":200,"message":"OK"},"users":[{"id":46988,"uuid":"ca543be6-50de-41e9-9f57-b0f0725cca6a","name":"Fabio
        Fusco","email":"fabio@zuppler.ie","phone":null,"channel_id":1,"roles":["channel","ambassador"],"created_at":"2013-04-26T13:54:30.607Z","gravatar_id":"0648112758d94ea7edf0fb97421ca2f7","acls":{"channel":[1183]},"links":[{"name":"self","methods":["get"],"url":"/v1/users/ca543be6-50de-41e9-9f57-b0f0725cca6a"},{"name":"vaults","method":"get","url":"/v1/users/ca543be6-50de-41e9-9f57-b0f0725cca6a/vaults"},{"name":"grant","method":"put","url":"/v1/users/ca543be6-50de-41e9-9f57-b0f0725cca6a/grant"},{"name":"revoke","method":"put","url":"/v1/users/ca543be6-50de-41e9-9f57-b0f0725cca6a/revoke"},{"name":"touch","method":"put","url":"/v1/users/ca543be6-50de-41e9-9f57-b0f0725cca6a/touch"},{"name":"providers","method":"get","url":"/v1/users/ca543be6-50de-41e9-9f57-b0f0725cca6a/providers"}]},{"id":50635,"uuid":"21297db5-0b69-46f4-befd-1efa2fd9708b","name":"Ryan
        Everhart","email":"pawleysislandeats@gmail.com","phone":"845-642-4005","channel_id":1,"roles":["restaurant","channel","ambassador"],"created_at":"2013-05-21T20:42:29.509Z","gravatar_id":"06da6888ed257be6d693a8d15937d2d7","acls":{"restaurant":[1445,1506,1510,1517,1531,1532,1533,1542,1561,1562,1565,1583,1682,1702,1705,1706,1707,1708,1725,1726,1727,1728,1783,1786,1910,1911,1912,1914,1569,1570,1582,1683]},"links":[{"name":"self","methods":["get"],"url":"/v1/users/21297db5-0b69-46f4-befd-1efa2fd9708b"},{"name":"vaults","method":"get","url":"/v1/users/21297db5-0b69-46f4-befd-1efa2fd9708b/vaults"},{"name":"grant","method":"put","url":"/v1/users/21297db5-0b69-46f4-befd-1efa2fd9708b/grant"},{"name":"revoke","method":"put","url":"/v1/users/21[...]
