---
http_interactions:
- request:
    method: post
    uri: http://users-api.biznettechnologies.com/v1/users/search.json
    body:
      encoding: UTF-8
      string: role=ambassador
    headers:
      Authorization:
      - Bearer ea82ba7cbd993a72bbfbcc80e8d35ea71b659e8c41e5eacf137c42e4f7263d76
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"beb67b04d0469968ec6cb8f1122c3bc0"
    body:
      encoding: UTF-8
      string: '{"success":true,"pagination":{"total":5,"page":1,"per_page":20,"page_count":1,"count":5},"status":{"code":200,"message":"OK"},"users":[{"id":2672,"uuid":"8f29488b-e291-4dd2-b9f7-f3ae48ff8d79","name":"Petrica
        G3","email":"petrica+k1@gmail.com","phone":null,"channel_id":1,"roles":["ambassador"],"created_at":"2010-12-10T12:20:41.000Z","gravatar_id":"ffb068d3631842cd076635a9e3d473d5","acls":{},"links":[{"name":"self","methods":["get","patch","put"],"url":"/v1/users/8f29488b-e291-4dd2-b9f7-f3ae48ff8d79"},{"name":"vaults","method":"get","url":"/v1/users/8f29488b-e291-4dd2-b9f7-f3ae48ff8d79/vaults"},{"name":"grant","method":"put","url":"/v1/users/8f29488b-e291-4dd2-b9f7-f3ae48ff8d79/grant"},{"name":"revoke","method":"put","url":"/v1/users/8f29488b-e291-4dd2-b9f7-f3ae48ff8d79/revoke"},{"name":"touch","method":"put","url":"/v1/users/8f29488b-e291-4dd2-b9f7-f3ae48ff8d79/touch"},{"name":"providers","method":"get","url":"/v1/users/8f29488b-e291-4dd2-b9f7-f3ae48ff8d79/providers"}]},{"id":3370,"uuid":"062b1cad-7247-40f1-bc2e-25942ef5075d","name":"Silviu
        Rosu","email":"silviu.rosu@gmail.com","phone":"+40757220488","channel_id":1,"roles":["admin","config","ambassador","driver","dispatcher"],"created_at":"2011-01-18T08:15:22.000Z","gravatar_id":"d38b3ac02140944a5dc29691dad2a808","acls":{"restaurant":[242]},"links":[{"name":"self","methods":["get","patch","put"],"url":"/v1/users/062b1cad-7247-40f1-bc2e-25942ef5075d"},{"name":"vaults","method":"get","url":"/v1/users/062b1cad-7247-40f1-bc2e-25942ef5075d/vaults"},{"name":"grant","method":"put","url":"/v1/users/062b1cad-7247-40f1-bc2e-25942ef5075d/grant"},{"name":"revoke","method":"put","url":"/v1/users/062b1cad-7247-40f1-bc2e-25942ef5075d/revoke"},{"name":"touch","method":"put","url":"/v1/users/062b1cad-7247-40f1-bc2e-25942ef5075d/touch"},{"name":"providers","method":"get","url":"/v1/users/062b1cad-7247-40f1-bc2e-25942ef5075d/providers"}]},{"id":4352,"uuid":"35e20f5e-fd1d-424a-aca9-ba4bb3be0e11","name":"Alex
        Rosen","email":"alex@chitownmenus.com","phone":"847-207-9829","channel_id":1,"roles":["channel","ambassador","integration"],"created_at":"2011-03-10T12:09:54.000Z","gravatar_id":"c38b99c5536ccb458a431fad70946f86","acls":{"restaurant":[303,399,414,415,416,418,431,432,435,445,502,506,508,509,516,518,520,527,528,537,540,551,552,553,554,556,558,561,563,567,572,592,598,599,603,607,608,611,613,616,617,618,619,621,622,633,635,644,646,655,666,668],"channel":[8,12,14,16,17,18,19,21,24,25,26,29,39,45,47,61,983]},"links":[{"name":"self","methods":["get","patch","put"],"url":"/v1/users/35e20f5e-fd1d-424a-aca9-ba4bb3be0e11"},{"name":"vaults","method":"get","url":"/v1/users/35e20f5e-fd1d-424a-aca9-ba4bb3be0e11/vaults"},{"name":"grant","method":"put","url":"/v1/users/35e20f5e-fd1d-424a-aca9-ba4bb3be0e11/grant"},{"name":"revoke","method":"put","url":"/v1/users/35e20f5e-fd1d-424a-aca9-ba4bb3be0e11/revoke"},{"name":"touch","method":"put","url":"/v1/users/35e[...]
