---
http_interactions:
- request:
    method: put
    uri: http://users.api.biznettechnologies.com/v1/users/current/touch.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cebb85da137eeb8fb264b2a652831b84f65a49f358f502f97596358e347ca18d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d489c4a475831f32505addc68a93bfff"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"User updated"}}'
  recorded_at: Tue, 26 Sep 2017 08:53:15 GMT
recorded_with: VCR 3.0.3
