---
http_interactions:
- request:
    method: put
    uri: http://users-api.biznettechnologies.com/v1/users/current/touch.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f8639b026344721bd0126b039609835ffa931b44446907acc11a07719fce59a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d489c4a475831f32505addc68a93bfff"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"User updated"}}'
  recorded_at: Tue, 27 Mar 2018 10:55:18 GMT
recorded_with: VCR 4.0.0
