---
http_interactions:
- request:
    method: put
    uri: http://users.api.biznettechnologies.com/v1/users/current/touch.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e4c22df01390e46bb2e7c9e07698e526b3674d5e24a45bc9e173a6fc3560d6c9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d489c4a475831f32505addc68a93bfff"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"User updated"}}'
  recorded_at: Wed, 23 Nov 2016 15:05:32 GMT
recorded_with: VCR 3.0.3
