---
http_interactions:
- request:
    method: get
    uri: http://users.api.biznettechnologies.com/v1/users/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fc1c261b82768137b36822b380d29289d82c05c0c4b9ee9bcfab720214ae9e6e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4cdf756358e2883c01d5458eaad56f5e"
    body:
      encoding: UTF-8
      string: '{"success":true,"user":{"id":3370,"name":"Silviu Rosu","email":"silviu.rosu@gmail.com","phone":"0757220488","created_at":"2011-01-18
        08:15:22 UTC","roles":["admin"],"access_grants":{"market":[1]},"zuppler_bucks":186.67,"zuppler_points":27808.0,"gravatar_id":"d38b3ac02140944a5dc29691dad2a808","links":[{"name":"self","methods":["get"],"url":"/v1/users/3370.json"},{"name":"vaults","method":"get","url":"/v1/users/3370/vaults.json"},{"name":"orders","method":"get","url":"/v1/users/3370/orders.json"},{"name":"grant","method":"put","url":"/v1/users/3370/grant.json"},{"name":"revoke","method":"put","url":"/v1/users/3370/revoke.json"}]}}'
  recorded_at: Fri, 12 Feb 2016 13:17:57 GMT
- request:
    method: put
    uri: http://users.api.biznettechnologies.com/v1/users/3370/grant.json
    body:
      encoding: UTF-8
      string: access_grants[market][]=1
    headers:
      Authorization:
      - Bearer fc1c261b82768137b36822b380d29289d82c05c0c4b9ee9bcfab720214ae9e6e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4088f0d3eceb8370781280553cb55f8"
    body:
      encoding: UTF-8
      string: '{"success":true,"user":{"links":[{"name":"self","methods":["get"],"url":"/v1/users/3370.json"},{"name":"vaults","method":"get","url":"/v1/users/3370/vaults.json"},{"name":"orders","method":"get","url":"/v1/users/3370/orders.json"},{"name":"grant","method":"put","url":"/v1/users/3370/grant.json"},{"name":"revoke","method":"put","url":"/v1/users/3370/revoke.json"}]}}'
  recorded_at: Fri, 12 Feb 2016 13:17:57 GMT
recorded_with: VCR 3.0.1
