---
http_interactions:
- request:
    method: get
    uri: http://users.api.biznettechnologies.com/v1/users/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer af1813ae5d79a6e16e574a44c8398d6a6508b825fb31c80b8deddec302f83019
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d6ef1bcb4f3fbe6e319aff9eb973631"
    body:
      encoding: UTF-8
      string: '{"success":true,"user":{"id":14802,"name":"Test Account","email":"test@zuppler.com","phone":"1234567890","created_at":"2012-01-25
        18:27:22 UTC","roles":["restaurant"],"access_grants":{},"zuppler_bucks":351.85,"zuppler_points":45178.0,"gravatar_id":"b120236ab9362cc0ee826a1145e1fdff","links":[{"name":"self","methods":["get"],"url":"/v1/users/14802.json"},{"name":"vaults","method":"get","url":"/v1/users/14802/vaults.json"},{"name":"orders","method":"get","url":"/v1/users/14802/orders.json"},{"name":"grant","method":"put","url":"/v1/users/14802/grant.json"},{"name":"revoke","method":"put","url":"/v1/users/14802/revoke.json"}]}}'
  recorded_at: Fri, 12 Feb 2016 13:17:56 GMT
- request:
    method: put
    uri: http://users.api.biznettechnologies.com/v1/users/14802/grant.json
    body:
      encoding: UTF-8
      string: access_grants[market][]=1
    headers:
      Authorization:
      - Bearer af1813ae5d79a6e16e574a44c8398d6a6508b825fb31c80b8deddec302f83019
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized to update access"}'
  recorded_at: Fri, 12 Feb 2016 13:17:56 GMT
recorded_with: VCR 3.0.1
