---
http_interactions:
- request:
    method: put
    uri: http://users-api.biznettechnologies.com/v1/users/14802/grant.json
    body:
      encoding: UTF-8
      string: acls[market][]=1
    headers:
      Authorization:
      - Bearer 1f8639b026344721bd0126b039609835ffa931b44446907acc11a07719fce59a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a023f6729efb6dd46fb693c0ba0334f"
    body:
      encoding: UTF-8
      string: '{"success":false,"status":{"code":401,"message":"Unauthorized to update
        access"}}'
  recorded_at: Tue, 27 Mar 2018 10:55:19 GMT
recorded_with: VCR 4.0.0
