---
http_interactions:
- request:
    method: put
    uri: http://users.api.biznettechnologies.com/v1/users/14802/grant.json
    body:
      encoding: UTF-8
      string: acls[market][]=1
    headers:
      Authorization:
      - Bearer ea82ba7cbd993a72bbfbcc80e8d35ea71b659e8c41e5eacf137c42e4f7263d76
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2aae764aad5b003f2cfa24636d2ab0d8"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"user":{"links":[{"name":"self","methods":["get"],"url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249"},{"name":"vaults","method":"get","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/vaults"},{"name":"grant","method":"put","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/grant"},{"name":"revoke","method":"put","url":"/v1/users/589e9ac9-a8c1-47ed-bf4b-aa9b19431249/revoke"}]}}'
  recorded_at: Wed, 28 Feb 2018 10:03:52 GMT
recorded_with: VCR 4.0.0
