---
http_interactions:
- request:
    method: get
    uri: http://users.api.biznettechnologies.com/v1/users/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer af1813ae5d79a6e16e574a44c8398d6a6508b825fb31c80b8deddec302f83019
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_token", error_description="The access
        token is invalid"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"status":{"code":401,"message":"Unauthorized"}}'
  recorded_at: Thu, 17 Nov 2016 06:48:40 GMT
recorded_with: VCR 3.0.3
