---
http_interactions:
- request:
    method: get
    uri: http://users-api.biznettechnologies.com/v1/users/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer notauthorized
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_token", error_description="The access
        token is invalid"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"status":{"code":401,"message":"Unauthorized"}}'
  recorded_at: Tue, 27 Mar 2018 10:55:18 GMT
recorded_with: VCR 4.0.0
