---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/demorestaurant/restaurants/demorestaurant/choices/66913/modifiers.json
    body:
      encoding: US-ASCII
      string: modifier[name]=cheese&modifier[price]=0.99&modifier[size]=small
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"49daf1c9ea2319d9c3466fa87264d0c3"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"modifier":{"id":700115,"name":"cheese","price":"0.99","active":true,"size_name":"small","parent_id":290642}}'
  recorded_at: Thu, 07 Nov 2013 10:55:20 GMT
recorded_with: VCR 2.5.0
