---
http_interactions:
- request:
    method: post
    uri: http://restaurants-api.biznettechnologies.com/v4/restaurants/demorestaurant/modifiers.json
    body:
      encoding: UTF-8
      string: modifier[name]=toppings&modifier[description]=desc&modifier[multiple]=true&modifier[min_qty]=0&modifier[max_qty]=5&modifier[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - http://restaurants-api.biznettechnologies.com/v4/restaurants/demorestaurant/modifiers/1554.json
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"758510ce843407be006bf0715bfeadf1"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":201,"message":"Created"}}'
  recorded_at: Fri, 23 Mar 2018 13:39:53 GMT
recorded_with: VCR 4.0.0
