---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/66913/modifiers.json
    body:
      encoding: US-ASCII
      string: modifier[name]=cheese&modifier[price]=0.99&modifier[size]=small&modifier[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"cd998885ffb96087600bf8bab2132e3a"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"modifier":{"id":703805,"name":"cheese","price":"0.99","active":true,"size_name":"small","priority":2,"parent_id":290642}}'
  recorded_at: Wed, 29 Jan 2014 10:38:12 GMT
recorded_with: VCR 2.5.0
