---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/demorestaurant/restaurants/demorestaurant/choices/66913/modifiers.json
    body:
      encoding: US-ASCII
      string: modifier[name]=cheese&modifier[price]=0.99
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"86c8887fb3265ea7f99a3455e2e4cf66"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"modifier":{"id":634900,"name":"cheese","price":"0.99","active":true}}'
  recorded_at: Wed, 09 Oct 2013 08:50:50 GMT
recorded_with: VCR 2.5.0
