---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/66913/modifiers.json
    body:
      encoding: US-ASCII
      string: modifier[name]=cheese&modifier[description]=desc&modifier[price]=0.99&modifier[size]=small&modifier[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"aa2ada957090f22cbd66cc2dfda71631"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"modifier":{"id":829297,"name":"cheese","price":"0.99","active":true,"size_name":"small","priority":2,"parent_id":337067}}'
  recorded_at: Tue, 18 Mar 2014 16:31:11 GMT
recorded_with: VCR 2.5.0
