---
http_interactions:
- request:
    method: post
    uri: http://restaurants.api.biznettechnologies.com/v4/restaurants/demorestaurant/modifiers.json
    body:
      encoding: UTF-8
      string: modifier[name]=toppings&modifier[description]=desc&modifier[multiple]=true&modifier[min_qty]=0&modifier[max_qty]=5&modifier[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - http://restaurants.api.biznettechnologies.com/v4/restaurants/demorestaurant/modifiers/1285.json
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"758510ce843407be006bf0715bfeadf1"'
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":201,"message":"Created"}}'
  recorded_at: Fri, 28 Aug 2015 10:09:27 GMT
recorded_with: VCR 2.9.3
