---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/demorestaurant/restaurants/demorestaurant/choices/66913/modifiers.json
    body:
      encoding: US-ASCII
      string: modifier[name]=cheese&modifier[price]=0.99&modifier[size]=small%22&modifier[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a05ec57fda167650d5a01d994c15fc72"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"modifier":{"id":700120,"name":"cheese","price":"0.99","active":true,"size_name":"small\"","priority":2,"parent_id":290642}}'
  recorded_at: Tue, 12 Nov 2013 13:58:14 GMT
recorded_with: VCR 2.5.0
