---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/modifiers/696696.json
    body:
      encoding: US-ASCII
      string: modifier[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4d13e0a2b4e8f304eb1c711aaf394791"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"modifier":{"id":696696,"name":"cream","price":"1.99","active":false,"size_name":"","priority":1,"parent_id":290204}}'
  recorded_at: Thu, 13 Feb 2014 09:13:21 GMT
recorded_with: VCR 2.5.0
