---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v4/restaurants/demorestaurant/modifiers/1218.json
    body:
      encoding: US-ASCII
      string: modifier[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c1b2ea46ef0719529bf2ebb32e184b95"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":200,"message":"OK"},"modifier":{"id":1218,"name":"updated","multiple":true,"min_qty":3,"max_qty":5,"priority":1,"active":true}}'
  recorded_at: Mon, 16 Mar 2015 09:20:49 GMT
recorded_with: VCR 2.9.3
