---
http_interactions:
- request:
    method: put
    uri: http://restaurants.api.biznettechnologies.com/v4/restaurants/demorestaurant/modifiers/1218.json
    body:
      encoding: UTF-8
      string: modifier[name]=updated&modifier[multiple]=true&modifier[min_qty]=3&modifier[max_qty]=5&modifier[priority]=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c5d869ec6b8d10960fd73f16d4e6577f"'
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"modifier":{"id":1218,"name":"updated","multiple":true,"min_qty":3,"max_qty":5,"priority":1,"active":false}}'
  recorded_at: Fri, 28 Aug 2015 10:09:28 GMT
recorded_with: VCR 2.9.3
