---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/modifiers/696696.json
    body:
      encoding: US-ASCII
      string: modifier[name]=cream&modifier[price]=1.99&modifier[priority]=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"0a6774cf075c3bab3377ccd6256fe407"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"modifier":{"id":696696,"name":"cream","price":"1.99","active":true,"size_name":"","priority":1,"parent_id":290204}}'
  recorded_at: Wed, 22 Jan 2014 13:51:50 GMT
recorded_with: VCR 2.5.0
