---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v4/restaurants/demorestaurant/modifiers/1.json
    body:
      encoding: US-ASCII
      string: modifier[id]=1&modifier[name]=updated&modifier[multiple]=true&modifier[min_qty]=3&modifier[max_qty]=5&modifier[priority]=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"94cc64837dbd0b4a0ab5ea4a68e4df47"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":200,"message":"OK"},"modifier":{"id":1,"name":"updated","multiple":true,"min_qty":3,"max_qty":5,"priority":1,"active":false}}'
  recorded_at: Mon, 04 Aug 2014 15:13:04 GMT
recorded_with: VCR 2.9.2
