---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/modifiers/1.json
    body:
      encoding: US-ASCII
      string: modifier[name]=cream&modifier[price]=1.99&modifier[priority]=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"466cfa624cdbf4c4c2997ffd27f8656b"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"modifier":{"id":1,"name":"cream","price":"1.99","active":true,"size_name":"","priority":1,"parent_id":461}}'
  recorded_at: Tue, 18 Mar 2014 16:31:12 GMT
recorded_with: VCR 2.5.0
