---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/21761/categories.json
    body:
      encoding: UTF-8
      string: category[name]=pizzas&category[description]=desc&category[priority]=1&category[priced_by_size]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c4898b0aa0bc5e9731c5b783eb7804be"'
    body:
      encoding: UTF-8
      string: '{"success":true,"category":{"id":63674,"name":"pizzas","description":"desc","priority":1,"active":true,"priced_by_size":false}}'
  recorded_at: Mon, 04 May 2015 05:44:07 GMT
recorded_with: VCR 2.9.3
