---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v2/channels/zuppler/restaurants/demorestaurant/menus/235/categories.json
    body:
      encoding: US-ASCII
      string: category[name]=pizzas
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"438626f8789ca4118728dda61ef2232c"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"id":34256,"name":"pizzas","priority":0,"active":true,"items":[],"modifiers":[]}'
  recorded_at: Wed, 04 Dec 2013 13:56:44 GMT
recorded_with: VCR 2.5.0
