---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/21761/categories.json
    body:
      encoding: UTF-8
      string: category[name]=pizzas&category[description]=desc&category[priority]=1&category[priced_by_size]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7e4d4f387357296793c00b0507cc3516"'
    body:
      encoding: UTF-8
      string: '{"success":true,"category":{"id":63679,"name":"pizzas","description":"desc","priority":1,"active":true,"priced_by_size":false}}'
  recorded_at: Tue, 06 Oct 2015 19:32:15 GMT
recorded_with: VCR 2.9.3
