---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/21761/categories.json
    body:
      encoding: UTF-8
      string: category[name]=pizzas&category[description]=desc&category[priority]=1&category[priced_by_size]=true&category[min_qty]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fe21654f6b44f64e02709630864a1901"'
    body:
      encoding: UTF-8
      string: '{"success":true,"category":{"id":63684,"name":"pizzas","description":"desc
        * 2 items minimum. * 2 items minimum.","priority":1,"active":true,"priced_by_size":false}}'
  recorded_at: Tue, 27 Oct 2015 21:59:48 GMT
recorded_with: VCR 2.9.3
