---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/21382/categories.json
    body:
      encoding: US-ASCII
      string: category[name]=pizzas&category[description]=desc&category[priority]=1&category[priced_by_size]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f743f7862a46d23f771ebe83ba512bc6"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"category":{"id":34391,"name":"pizzas","description":"desc","priority":1,"active":true,"priced_by_size":false}}'
  recorded_at: Wed, 19 Feb 2014 13:55:17 GMT
recorded_with: VCR 2.5.0
