---
http_interactions:
- request:
    method: post
    uri: http://api.zuppler.dev/v2/channels/demorestaurant/restaurants/demorestaurant/menus/235/categories.json
    body:
      encoding: US-ASCII
      string: category[name]=pizzas
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"db29fee6c90ae5f5eb55ad921b3cc058"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"id":31788,"name":"pizzas","priority":0,"active":true,"items":[],"modifiers":[]}'
  recorded_at: Thu, 12 Sep 2013 14:06:40 GMT
recorded_with: VCR 2.5.0
