---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v2/channels/demorestaurant/restaurants/demorestaurant/menus/235/categories.json
    body:
      encoding: US-ASCII
      string: category[name]=pizzas
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"81d3f624c9d63efe19c78a06e9628f72"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"id":31439,"name":"pizzas","priority":0,"active":true,"items":[],"modifiers":[]}'
  recorded_at: Tue, 17 Sep 2013 12:02:05 GMT
recorded_with: VCR 2.5.0
