---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/21761/categories.json
    body:
      encoding: US-ASCII
      string: category[name]=pizzas&category[description]=desc&category[priority]=1&category[priced_by_size]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"0a54ff548f82de19e72691976826d46d"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"category":{"id":63633,"name":"pizzas","description":"desc","priority":1,"active":true,"priced_by_size":false}}'
  recorded_at: Mon, 16 Mar 2015 09:13:23 GMT
recorded_with: VCR 2.9.3
