---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/21382/categories.json
    body:
      encoding: US-ASCII
      string: category[name]=pizzas&category[description]=desc&category[priority]=1&category[priced_by_size]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b0e7090c30151426166a0cdd4a379a68"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"category":{"id":34277,"name":"pizzas","description":"desc","priority":1,"active":true,"priced_by_size":true}}'
  recorded_at: Wed, 29 Jan 2014 10:57:26 GMT
recorded_with: VCR 2.5.0
