---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/43069.json
    body:
      encoding: UTF-8
      string: category[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"368e5849a9372cd2b357b4bcac2bcd10"'
    body:
      encoding: UTF-8
      string: '{"success":true,"category":{"id":43069,"name":"ccc","description":"ddd
        * 1 items minimum. * 1 items minimum.","priority":1,"active":true,"priced_by_size":false}}'
  recorded_at: Tue, 27 Oct 2015 21:58:28 GMT
recorded_with: VCR 2.9.3
