---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/43069.json
    body:
      encoding: UTF-8
      string: category[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"98112b85a8a620b5467085aea2d1c854"'
    body:
      encoding: UTF-8
      string: '{"success":true,"category":{"id":43069,"name":"ccc","description":"ddd","priority":1,"active":false,"priced_by_size":false}}'
  recorded_at: Tue, 06 Oct 2015 19:32:16 GMT
recorded_with: VCR 2.9.3
