---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/33040.json
    body:
      encoding: US-ASCII
      string: category[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f742ca44bd3bba73140a64c0edafe180"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"category":{"id":33040,"name":"ccc","description":"ddd","priority":1,"active":false,"priced_by_size":true}}'
  recorded_at: Thu, 13 Feb 2014 08:36:46 GMT
recorded_with: VCR 2.5.0
