---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/43069.json
    body:
      encoding: UTF-8
      string: category[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bd3d7557574a2c7401ffa4d9c3eefe14"'
    body:
      encoding: UTF-8
      string: '{"success":true,"category":{"id":43069,"name":"ccc","description":"ddd","priority":1,"active":true,"priced_by_size":false}}'
  recorded_at: Fri, 28 Aug 2015 10:03:54 GMT
recorded_with: VCR 2.9.3
