---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/43069.json
    body:
      encoding: UTF-8
      string: category[name]=ccc&category[description]=ddd&category[priority]=1&category[active]=true&category[min_qty]=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f87c7498dfd369334006ff88ae60b176"'
    body:
      encoding: UTF-8
      string: '{"success":true,"category":{"id":43069,"name":"ccc","description":"ddd
        * 1 items minimum.","priority":1,"active":true,"priced_by_size":false}}'
  recorded_at: Tue, 06 Oct 2015 19:32:51 GMT
recorded_with: VCR 2.9.3
