---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/33040.json
    body:
      encoding: US-ASCII
      string: category[name]=ccc&category[description]=ddd&category[priority]=1&category[active]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b51387ad5ff4cf03e0a999a31fc21342"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"category":{"id":33040,"name":"ccc","description":"ddd","priority":1,"active":true,"priced_by_size":true}}'
  recorded_at: Thu, 13 Feb 2014 08:36:46 GMT
recorded_with: VCR 2.5.0
