---
http_interactions:
- request:
    method: post
    uri: http://restaurants-api.biznettechnologies.com/v4/restaurants/demorestaurant/discounts.json
    body:
      encoding: UTF-8
      string: discount[name]=savings&discount[amount]=15&discount[min_order_amount]=99&discount[promo_code]=abcd
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - http://restaurants-api.biznettechnologies.com/v4/restaurants/demorestaurant/discounts/5411.json
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"758510ce843407be006bf0715bfeadf1"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":201,"message":"Created"}}'
  recorded_at: Thu, 03 Nov 2016 09:35:32 GMT
recorded_with: VCR 3.0.3
