---
http_interactions:
- request:
    method: post
    uri: http://restaurants.api.biznettechnologies.com/v4/restaurants/demorestaurant/discounts.json
    body:
      encoding: UTF-8
      string: discount[name]=savings&discount[amount]=15&discount[min_order_amount]=99&discount[promo_code]=abcd
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - http://restaurants.api.biznettechnologies.com/v4/restaurants/demorestaurant/discounts/5404.json
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"758510ce843407be006bf0715bfeadf1"'
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":201,"message":"Created"}}'
  recorded_at: Mon, 04 May 2015 05:44:17 GMT
recorded_with: VCR 2.9.3
