---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v4/restaurants/demorestaurant/discounts.json
    body:
      encoding: US-ASCII
      string: discount[name]=savings&discount[amount]=15&discount[min_order_amount]=99&discount[promo_code]=abcd
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - http://api.biznettechnologies.com/v4/restaurants/demorestaurant/discounts/3209.json
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"758510ce843407be006bf0715bfeadf1"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":201,"message":"Created"}}'
  recorded_at: Thu, 21 Aug 2014 12:59:58 GMT
recorded_with: VCR 2.9.2
