---
http_interactions:
- request:
    method: put
    uri: http://restaurants.api.biznettechnologies.com/v4/restaurants/demorestaurant/discounts/904.json
    body:
      encoding: UTF-8
      string: discount[name]=updated&discount[amount]=25&discount[min_order_amount]=50
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a8344fe787a346d7d472ddac2854ecff"'
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"discount":{"id":904,"title":"20%
        off on orders more than $50","amount":"25.0","percent":"20.0","start_date":"2011-11-03","end_date":null}}'
  recorded_at: Mon, 04 May 2015 05:44:18 GMT
recorded_with: VCR 2.9.3
