---
http_interactions:
- request:
    method: put
    uri: http://restaurants-api.biznettechnologies.com/v4/restaurants/demorestaurant/discounts/904.json
    body:
      encoding: UTF-8
      string: discount[name]=updated&discount[amount]=25&discount[min_order_amount]=50
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0f0c52ee6e90c8f084e25f6901cfe3af"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"discount":{"id":904,"title":"20%
        off on orders_more than $50","amount":"25.0","percent":"20.0","start_date":"11/03/2011","end_date":null}}'
  recorded_at: Thu, 03 Nov 2016 09:35:32 GMT
recorded_with: VCR 3.0.3
