---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v4/restaurants/demorestaurant/discounts/904.json
    body:
      encoding: US-ASCII
      string: discount[name]=updated&discount[amount]=25&discount[min_order_amount]=50
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b304be10e435e90417e1f2142234bcd9"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":200,"message":"OK"},"discount":{"id":904,"title":"20%
        off on orders more than $50","amount":"25.0","percent":"20.0","start_date":"2011-11-03","end_date":"2014-05-04"}}'
  recorded_at: Thu, 21 Aug 2014 13:08:06 GMT
recorded_with: VCR 2.9.2
