---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v2/channels/zuppler/restaurants/demorestaurant/categories/1712/items.json
    body:
      encoding: US-ASCII
      string: item[name]=margherita&item[price]=9.99&item[size]=small&item[priority]=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"91126900481a847066f60fb513d4dcac"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"image":"","items":[{"id":336031,"price":"9.99","size_name":"small","active":true,"coupon":null,"priority":1},{"id":335887,"price":"9.99","size_name":"small","active":true,"coupon":null,"priority":1},{"id":335886,"price":"9.99","size_name":"small","active":true,"coupon":null,"priority":1},{"id":335744,"price":"9.99","size_name":"small","active":true,"coupon":null,"priority":1},{"id":335743,"price":"9.99","size_name":"small","active":true,"coupon":null,"priority":1},{"id":335742,"price":"9.99","size_name":"small","active":true,"coupon":null,"priority":1},{"id":335741,"price":"9.99","size_name":"small"[...]
