---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v2/channels/demorestaurant/restaurants/demorestaurant/categories/1712/items.json
    body:
      encoding: US-ASCII
      string: item[name]=margherita&item[price]=9.99&item[size]=small&item[priority]=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f64cbb0a4565a4fbdf6add3564e0a159"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"image":"","items":[{"id":335744,"price":"9.99","size_name":"small","active":true,"coupon":null,"priority":1},{"id":335743,"price":"9.99","size_name":"small","active":true,"coupon":null,"priority":1},{"id":335742,"price":"9.99","size_name":"small","active":true,"coupon":null,"priority":1},{"id":335741,"price":"9.99","size_name":"small","active":true,"coupon":null,"priority":0},{"id":335740,"price":"9.99","size_name":"small","active":true,"coupon":null,"priority":0},{"id":335739,"price":"9.99","size_name":"small\"","active":true,"coupon":null,"priority":0},{"id":335640,"price":"9.99","size_name":"","active":true,"coupon":null,"priority":0},{"id":335639,"price":"9.99","size_name":"","active":true,"coupon":null,"priority":0},{"id":335638,"price":"9.99","size_name":"","active":true,"coupon":null,"priority":0},{"id":335637,"price":"9.99","size_name":"","active":true,"coupon":null,"priority":0},{"id":335636,"price":"9.99","size_name":"","active":true,"coupon":null,"priority":0},{"id":335635,"price":"9.99","size_name":"","active":true,"coupon":null,"priority":0},{"id":335634,"price":"9.99","size_name":"","active":true,"coupon":null,"priority":0},{"id":335633,"price":"9.99","size_name":"","active":true,"coupon":null,"priority":0},{"id":335632,"price":"9.99","size_name":"","active":true,"coupon":null,"priority":0},{"id":335631,"price":"9.99","size_name":"","active":true,"coupon":null,"priority":0},{"id":335630,"price":"9.99","size_name":"","active":true,"coupon":null,"priority":0}],"modifiers":[],"id":290449,"name":"margherita","description":null,"veg":null,"spicy":null}'
  recorded_at: Tue, 12 Nov 2013 13:57:33 GMT
recorded_with: VCR 2.5.0
