---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/items.json
    body:
      encoding: US-ASCII
      string: item[name]=magio&item[description]=desc&item[price]=9.99&item[priority]=1&item[size_name]=small&item[size_priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e4861ec348f4c9724e3a59015bdf40b3"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"item":{"id":337064,"name":"magio","description":"desc","price":"9.99","coupon":null,"active":true,"parent_id":292037,"priority":1,"veg":null,"spicy":null,"size_name":"small","size_priority":2}}'
  recorded_at: Wed, 19 Feb 2014 13:22:50 GMT
recorded_with: VCR 2.5.0
