---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v2/channels/demorestaurant/restaurants/demorestaurant/categories/1713/items.json
    body:
      encoding: US-ASCII
      string: item[name]=margherita&item[price]=9.99
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a6ca743552c4bc8c07bfe4752223839a"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"image":"","items":[{"id":309330,"price":"9.99","size_name":"
        Bowl","active":true,"coupon":null},{"id":309329,"price":"9.99","size_name":"Cup","active":true,"coupon":null}],"modifiers":[],"id":265169,"name":"margherita","description":null,"veg":null,"spicy":null}'
  recorded_at: Tue, 17 Sep 2013 12:09:01 GMT
recorded_with: VCR 2.5.0
