---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/items.json
    body:
      encoding: UTF-8
      string: item[name]=magio&item[description]=desc&item[price]=9.99&item[priority]=1&item[size_name]=small&item[size_priority]=2&item[min_qty]=5
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a7ddcd5a573d1d3c0c14412be14b9f25"'
    body:
      encoding: UTF-8
      string: '{"success":true,"item":{"id":607667,"name":"magio","description":"desc
        * 5 items minimum.","price":"9.99","coupon":null,"active":true,"parent_id":549279,"priority":1,"veg":null,"spicy":null,"size_name":"small","size_priority":2}}'
  recorded_at: Tue, 06 Oct 2015 19:56:26 GMT
recorded_with: VCR 2.9.3
