---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/items.json
    body:
      encoding: UTF-8
      string: item[name]=magio&item[description]=desc&item[price]=9.99&item[priority]=1&item[size_name]=small&item[size_priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2b51f2683af6635ca20e1498f4c96973"'
    body:
      encoding: UTF-8
      string: '{"success":true,"item":{"id":607652,"name":"magio","description":"desc","price":"9.99","coupon":null,"active":true,"parent_id":549279,"priority":1,"veg":null,"spicy":null,"size_name":"small","size_priority":2}}'
  recorded_at: Mon, 04 May 2015 05:44:27 GMT
recorded_with: VCR 2.9.3
