---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/items.json
    body:
      encoding: US-ASCII
      string: item[name]=magio&item[description]=desc&item[price]=9.99&item[priority]=1&item[size_name]=small&item[size_priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"33eb3fc54966b0e0bedf497d19c9b6c1"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"item":{"id":607379,"name":"magio","description":"desc","price":"9.99","coupon":null,"active":true,"parent_id":549279,"priority":1,"veg":null,"spicy":null,"size_name":"small","size_priority":2}}'
  recorded_at: Mon, 16 Mar 2015 09:22:01 GMT
recorded_with: VCR 2.9.3
