---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v2/channels/demorestaurant/restaurants/demorestaurant/categories/1712/items.json
    body:
      encoding: US-ASCII
      string: item[name]=margherita&item[price]=9.99&item[size]=small
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"43d26e82f25c57e944236c2878f27896"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"image":"","items":[{"id":335640,"price":"9.99","size_name":"","active":true,"coupon":null},{"id":335639,"price":"9.99","size_name":"","active":true,"coupon":null},{"id":335638,"price":"9.99","size_name":"","active":true,"coupon":null},{"id":335637,"price":"9.99","size_name":"","active":true,"coupon":null},{"id":335636,"price":"9.99","size_name":"","active":true,"coupon":null},{"id":335635,"price":"9.99","size_name":"","active":true,"coupon":null},{"id":335634,"price":"9.99","size_name":"","active":true,"coupon":null},{"id":335633,"price":"9.99","size_name":"","active":true,"coupon":null},{"id":335632,"price":"9.99","size_name":"","active":true,"coupon":null},{"id":335631,"price":"9.99","size_name":"","active":true,"coupon":null},{"id":335630,"price":"9.99","size_name":"","active":true,"coupon":null}],"modifiers":[],"id":290449,"name":"margherita","description":null,"veg":null,"spicy":null}'
  recorded_at: Thu, 31 Oct 2013 15:12:41 GMT
recorded_with: VCR 2.5.0
