---
http_interactions:
- request:
    method: post
    uri: http://api.zuppler.dev/v2/channels/demorestaurant/restaurants/demorestaurant/categories/31788/items.json
    body:
      encoding: US-ASCII
      string: item[name]=margherita&item[price]=9.99
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"875d959fe461233b8de19ade5e610cb6"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"image":"","items":[{"id":312038,"price":"9.99","size_name":"","active":true,"coupon":null},{"id":312037,"price":"9.99","size_name":"","active":true,"coupon":null},{"id":312036,"price":"9.99","size_name":"","active":true,"coupon":null}],"modifiers":[],"id":267608,"name":"margherita","description":null,"veg":null,"spicy":null}'
  recorded_at: Thu, 12 Sep 2013 15:10:56 GMT
recorded_with: VCR 2.5.0
