---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/items.json
    body:
      encoding: US-ASCII
      string: item[name]=magio&item[description]=desc&item[price]=9.99&item[priority]=1&item[size_name]=small&item[size_priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"cbc8e74d22fbaf03481e9785adfa616b"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"item":{"id":415407,"name":"magio","description":"desc","price":"9.99","coupon":null,"active":true,"parent_id":370481,"priority":1,"veg":null,"spicy":null,"size_name":"small","size_priority":2}}'
  recorded_at: Wed, 14 May 2014 07:50:58 GMT
recorded_with: VCR 2.5.0
