---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/items.json
    body:
      encoding: US-ASCII
      string: item[name]=margherita&item[price]=9.99&item[priority]=1&item[size_name]=small&item[size_priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ca097fb08a271c2f462729a5bb845545"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"item":{"id":336312,"name":"margherita","description":"","price":"9.99","coupon":null,"active":true,"parent_id":290449,"priority":null,"veg":null,"spicy":null,"size_name":"small","size_priority":2}}'
  recorded_at: Thu, 13 Feb 2014 08:43:56 GMT
recorded_with: VCR 2.5.0
