---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/items.json
    body:
      encoding: US-ASCII
      string: item[name]=magio&item[description]=desc&item[price]=9.99&item[priority]=1&item[size_name]=small&item[size_priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7fa34f2e7f5013c71f719994577bb8ea"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"item":{"id":337062,"name":"magio","description":"desc","price":"9.99","coupon":null,"active":true,"parent_id":292037,"priority":1,"veg":null,"spicy":null,"size_name":"small","size_priority":2}}'
  recorded_at: Tue, 18 Feb 2014 09:25:51 GMT
recorded_with: VCR 2.5.0
