---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/items/1234.json
    body:
      encoding: US-ASCII
      string: item[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5003b15e79ff5bb797501cc8537f753b"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"item":{"id":1234,"name":"Calzone","description":"&nbsp;","price":"0.0","coupon":null,"active":false,"parent_id":2260,"priority":null,"veg":null,"spicy":null,"size_name":"
        Large","size_priority":0}}'
  recorded_at: Thu, 13 Feb 2014 08:43:57 GMT
recorded_with: VCR 2.5.0
