---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/items/448591.json
    body:
      encoding: UTF-8
      string: item[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"26902cacdbceffbaf60750ad5e82449f"'
    body:
      encoding: UTF-8
      string: '{"success":true,"item":{"id":448591,"name":"diavolo","description":"dddd
        * 5 items minimum.","price":"8.99","coupon":true,"active":false,"parent_id":405489,"priority":2,"veg":null,"spicy":0,"size_name":null,"size_priority":null}}'
  recorded_at: Tue, 06 Oct 2015 19:55:34 GMT
recorded_with: VCR 2.9.3
