---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/items/455.json
    body:
      encoding: US-ASCII
      string: item[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f5086aa0c0d7bca44e2de5d98799a983"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"item":{"id":455,"name":"K10. Asparagus &amp; Ingen","description":"&nbsp;with
        chicken asparagus &amp; string bean with chicken hibachi","price":"12.0","coupon":null,"active":false,"parent_id":770,"priority":0,"veg":null,"spicy":null,"size_name":null,"size_priority":null}}'
  recorded_at: Mon, 16 Mar 2015 09:22:02 GMT
recorded_with: VCR 2.9.3
