---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/items/898.json
    body:
      encoding: UTF-8
      string: item[name]=diavolo&item[description]=dddd&item[price]=8.99&item[priority]=2&item[image_url]=http%3A%2F%2Fs3.amazonaws.com%2Fcrunchbase_prod_assets%2Fassets%2Fimages%2Fresized%2F0016%2F4291%2F164291v2-max-250x250.png
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"45668208cbf2d58a48fd5d7f638b80ec"'
    body:
      encoding: UTF-8
      string: '{"success":true,"item":{"id":898,"name":"diavolo","description":"dddd","price":"8.99","coupon":null,"active":false,"parent_id":1768,"priority":2,"veg":null,"spicy":null,"size_name":null,"size_priority":null}}'
  recorded_at: Mon, 04 May 2015 05:44:27 GMT
recorded_with: VCR 2.9.3
