---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/items/448591.json
    body:
      encoding: UTF-8
      string: item[name]=diavolo&item[description]=dddd&item[price]=8.99&item[priority]=2&item[image_url]=http%3A%2F%2Fs3.amazonaws.com%2Fcrunchbase_prod_assets%2Fassets%2Fimages%2Fresized%2F0016%2F4291%2F164291v2-max-250x250.png&item[min_qty]=5
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"26902cacdbceffbaf60750ad5e82449f"'
    body:
      encoding: UTF-8
      string: '{"success":true,"item":{"id":448591,"name":"diavolo","description":"dddd
        * 5 items minimum.","price":"8.99","coupon":true,"active":false,"parent_id":405489,"priority":2,"veg":null,"spicy":0,"size_name":null,"size_priority":null}}'
  recorded_at: Tue, 06 Oct 2015 19:56:26 GMT
recorded_with: VCR 2.9.3
