---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/items/9898.json
    body:
      encoding: US-ASCII
      string: item[name]=diavolo&item[price]=8.99&item[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f7df37057503228ccc9cf11ff9e65ccb"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"item":{"id":9898,"name":"diavolo","description":"fried
        to perfection and served with French fries and your choice of sauce:  Dearg
        Doom, Mild Stoke, Blast Furnace BBQ, Honey Mustard, or Ranch","price":"8.99","coupon":null,"active":true,"parent_id":9458,"priority":2,"veg":false,"spicy":0,"size_name":null,"size_priority":null}}'
  recorded_at: Thu, 13 Feb 2014 08:43:56 GMT
recorded_with: VCR 2.5.0
