---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v2/channels/zuppler/restaurants/demorestaurant/items/9898.json
    body:
      encoding: US-ASCII
      string: item[name]=diavolo&item[price]=8.99&item[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"06eac9f9a9a2bd1f162fccdee2f80d03"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"image":"http://cdn.zuppler.com/images/pictures/files/000/002/054/original/chicken%20tenders.jpg","items":[{"id":9898,"price":"8.99","size_name":"","active":true,"coupon":null,"priority":2}],"modifiers":[],"id":9458,"name":"diavolo","description":"fried
        to perfection and served with French fries and your choice of sauce:  Dearg
        Doom, Mild Stoke, Blast Furnace BBQ, Honey Mustard, or Ranch","veg":false,"spicy":0}'
  recorded_at: Tue, 21 Jan 2014 08:56:46 GMT
recorded_with: VCR 2.5.0
