---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/items/9898.json
    body:
      encoding: US-ASCII
      string: item[name]=diavolo&item[description]=dddd&item[price]=8.99&item[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f3ee620deabe37cfe3ba452955a55851"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"item":{"id":9898,"name":"diavolo","description":"dddd","price":"8.99","coupon":null,"active":true,"parent_id":9458,"priority":2,"veg":false,"spicy":0,"size_name":null,"size_priority":null}}'
  recorded_at: Wed, 19 Feb 2014 13:22:51 GMT
recorded_with: VCR 2.5.0
