---
http_interactions:
- request:
    method: get
    uri: http://api.zuppler.com/v2/channels/zuppler.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"8e6afac2a0e067fe65fe91d8586749d1"'
    body:
      encoding: US-ASCII
      string: ! '{"id":1,"permalink":"zuppler","name":"Zuppler","logo":"http://cdn.zuppler.com/images/channels/logos/000/000/001/original/zuppler-logo.png?1323439953"}'
  recorded_at: Fri, 26 Jul 2013 15:14:31 GMT
recorded_with: VCR 2.5.0
