---
http_interactions:
- request:
    method: get
    uri: http://api.biznettechnologies.com/v2/channels/zuppler.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a7f3c5aa2b8b3102c70185f221783999"'
    body:
      encoding: UTF-8
      string: '{"id":1,"permalink":"zuppler","name":"Zuppler","logo":"http://dbgcbnch6yz43.cloudfront.net/images/channels/logos/000/000/001/original/zuppler-logo.png?1378812024"}'
  recorded_at: Mon, 04 May 2015 05:49:15 GMT
recorded_with: VCR 2.9.3
