---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v4/restaurants/demorestaurant/modifiers/1218/options.json
    body:
      encoding: US-ASCII
      string: option[name]=cheese&option[description]=desc&option[price]=99&option[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - http://api.biznettechnologies.com/v4/restaurants/demorestaurant/options/7805.json
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"758510ce843407be006bf0715bfeadf1"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":201,"message":"Created"}}'
  recorded_at: Mon, 16 Mar 2015 09:41:22 GMT
recorded_with: VCR 2.9.3
