---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v4/restaurants/demorestaurant/modifiers/1/options.json
    body:
      encoding: US-ASCII
      string: option[name]=cheese&option[description]=desc&option[price]=99&option[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - http://api.biznettechnologies.com/v4/restaurants/demorestaurant/options/3.json
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"758510ce843407be006bf0715bfeadf1"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":201,"message":"Created"}}'
  recorded_at: Mon, 04 Aug 2014 15:11:25 GMT
recorded_with: VCR 2.9.2
