---
http_interactions:
- request:
    method: post
    uri: http://restaurants.api.biznettechnologies.com/v4/restaurants/demorestaurant/modifiers/1218/options.json
    body:
      encoding: UTF-8
      string: option[name]=cheese&option[description]=desc&option[price]=99&option[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - http://restaurants.api.biznettechnologies.com/v4/restaurants/demorestaurant/options/7807.json
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"758510ce843407be006bf0715bfeadf1"'
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":201,"message":"Created"}}'
  recorded_at: Fri, 28 Aug 2015 10:09:40 GMT
recorded_with: VCR 2.9.3
