---
http_interactions:
- request:
    method: post
    uri: http://restaurants-api.biznettechnologies.com/v4/restaurants/demorestaurant/modifiers/1218/options.json
    body:
      encoding: UTF-8
      string: option[name]=cheese&option[description]=desc&option[price]=99&option[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - http://restaurants-api.biznettechnologies.com/v4/restaurants/demorestaurant/options/7808.json
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"758510ce843407be006bf0715bfeadf1"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":201,"message":"Created"}}'
  recorded_at: Thu, 03 Nov 2016 09:41:53 GMT
recorded_with: VCR 3.0.3
