---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v4/restaurants/demorestaurant/options/7804.json
    body:
      encoding: US-ASCII
      string: option[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b33bbeaf1ac7492b153ddf701593b79a"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":200,"message":"OK"},"option":{"id":7804,"name":"updated","price":9}}'
  recorded_at: Mon, 16 Mar 2015 09:41:23 GMT
recorded_with: VCR 2.9.3
