---
http_interactions:
- request:
    method: put
    uri: http://restaurants-api.biznettechnologies.com/v4/restaurants/demorestaurant/options/7804.json
    body:
      encoding: UTF-8
      string: option[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b33bbeaf1ac7492b153ddf701593b79a"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"option":{"id":7804,"name":"updated","price":9}}'
  recorded_at: Thu, 03 Nov 2016 09:41:54 GMT
recorded_with: VCR 3.0.3
