---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v4/restaurants/demorestaurant/options/1.json
    body:
      encoding: US-ASCII
      string: option[name]=updated&option[price]=9&option[priority]=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e38567d5d6845f50ae5933e500416a42"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":200,"message":"OK"},"option":{"id":1,"name":"updated","price":9}}'
  recorded_at: Mon, 04 Aug 2014 15:11:31 GMT
recorded_with: VCR 2.9.2
