---
http_interactions:
- request:
    method: put
    uri: http://restaurants.api.biznettechnologies.com/v4/restaurants/demorestaurant/options/7804.json
    body:
      encoding: UTF-8
      string: option[name]=updated&option[price]=9&option[priority]=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b33bbeaf1ac7492b153ddf701593b79a"'
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"option":{"id":7804,"name":"updated","price":9}}'
  recorded_at: Mon, 04 May 2015 05:44:31 GMT
recorded_with: VCR 2.9.3
