---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/choices.json
    body:
      encoding: US-ASCII
      string: choice[name]=toppings%20cat&choice[description]=desc&choice[multiple]=true&choice[min_qty]=0&choice[max_qty]=5&choice[priority]=2&choice[order_by_priority]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ac8c1f62e4bf3da8fd9ab78f9c1c81a4"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":73350,"name":"toppings cat","multiple":true,"min_qty":0,"max_qty":5,"priority":2,"order_by_priority":true,"active":true}}'
  recorded_at: Wed, 19 Feb 2014 13:11:52 GMT
recorded_with: VCR 2.5.0
