---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/demorestaurant/restaurants/demorestaurant/categories/1713/choices.json
    body:
      encoding: US-ASCII
      string: choice[name]=toppings&choice[multiple]=true&choice[min_qty]=0&choice[max_qty]=5
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"0a4c51a0378ecd3aed3d30f66caf9063"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":67232,"name":"toppings","multiple":true,"min_qty":0,"max_qty":5}}'
  recorded_at: Wed, 16 Oct 2013 09:01:59 GMT
recorded_with: VCR 2.5.0
