---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/choices.json
    body:
      encoding: US-ASCII
      string: choice[name]=toppings%20cat&choice[description]=desc&choice[multiple]=true&choice[min_qty]=0&choice[max_qty]=5&choice[priority]=2&choice[order_by_priority]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d7dc83b974855c7a0c35fa66fe760898"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":181035,"name":"toppings cat","multiple":true,"min_qty":0,"max_qty":5,"priority":2,"order_by_priority":true,"active":true,"description":"desc"}}'
  recorded_at: Mon, 16 Mar 2015 09:21:47 GMT
recorded_with: VCR 2.9.3
