---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/demorestaurant/restaurants/demorestaurant/categories/1713/choices.json
    body:
      encoding: US-ASCII
      string: choice[name]=toppings
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"0bca84e1cce7920369874a9e7a2daffa"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":66913,"name":"toppings"}}'
  recorded_at: Wed, 09 Oct 2013 08:36:58 GMT
recorded_with: VCR 2.5.0
