---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/demorestaurant/restaurants/demorestaurant/categories/1713/choices.json
    body:
      encoding: US-ASCII
      string: choice[name]=toppings
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a1ef92ca7ea603a8e2671313e37e6c78"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":66983,"name":"toppings"}}'
  recorded_at: Wed, 09 Oct 2013 14:01:32 GMT
recorded_with: VCR 2.5.0
