---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/choices.json
    body:
      encoding: US-ASCII
      string: choice[name]=toppings&choice[multiple]=true&choice[min_qty]=0&choice[max_qty]=5&choice[priority]=2&choice[order_by_priority]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ecadbfde32cacd9dec280f23f25f097e"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":73134,"name":"toppings","multiple":true,"min_qty":0,"max_qty":5,"priority":2,"order_by_priority":true,"active":true}}'
  recorded_at: Thu, 13 Feb 2014 09:04:39 GMT
recorded_with: VCR 2.5.0
