---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/demorestaurant/restaurants/demorestaurant/categories/1713/choices.json
    body:
      encoding: US-ASCII
      string: choice[name]=toppings
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"08e3f2cff4296f00fdd6a46ec33cee8b"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":66984,"name":"toppings"}}'
  recorded_at: Wed, 09 Oct 2013 14:03:04 GMT
recorded_with: VCR 2.5.0
