---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/choices.json
    body:
      encoding: US-ASCII
      string: choice[name]=toppings%20item&choice[description]=desc&choice[multiple]=true&choice[min_qty]=0&choice[max_qty]=5&choice[priority]=2&choice[order_by_priority]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"2644f8ea74906823df84fca61b2ecf66"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":181036,"name":"toppings item","multiple":true,"min_qty":0,"max_qty":5,"priority":2,"order_by_priority":false,"active":true,"description":"desc"}}'
  recorded_at: Mon, 16 Mar 2015 09:21:47 GMT
recorded_with: VCR 2.9.3
