---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/choices.json
    body:
      encoding: UTF-8
      string: choice[name]=toppings%20item&choice[description]=desc&choice[multiple]=true&choice[min_qty]=0&choice[max_qty]=5&choice[priority]=2&choice[order_by_priority]=false&choice[multiple_ingredients]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"675eb9e24b62abe7b2ff7b69814ed9c5"'
    body:
      encoding: UTF-8
      string: '{"success":true,"choice":{"id":181404,"name":"toppings item","multiple":true,"min_qty":0,"max_qty":5,"priority":2,"order_by_priority":false,"active":true,"description":"desc"}}'
  recorded_at: Tue, 06 Oct 2015 20:11:17 GMT
recorded_with: VCR 2.9.3
