---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/demorestaurant/restaurants/demorestaurant/categories/1712/choices.json
    body:
      encoding: US-ASCII
      string: choice[name]=toppings&choice[multiple]=true&choice[min_qty]=0&choice[max_qty]=5&choice[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f91cc465ea480697820d40dd75d00695"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":72493,"name":"toppings","multiple":true,"min_qty":0,"max_qty":5,"priority":2}}'
  recorded_at: Wed, 13 Nov 2013 09:31:52 GMT
recorded_with: VCR 2.5.0
