---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/choices.json
    body:
      encoding: US-ASCII
      string: choice[name]=toppings&choice[multiple]=true&choice[min_qty]=0&choice[max_qty]=5&choice[priority]=2&choice[order_by_priority]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d281cadcba26df2afe7e1b248c709bef"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":72970,"name":"toppings","multiple":true,"min_qty":0,"max_qty":5,"priority":2}}'
  recorded_at: Wed, 22 Jan 2014 13:34:26 GMT
recorded_with: VCR 2.5.0
