---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/categories/1712/choices.json
    body:
      encoding: UTF-8
      string: choice[name]=toppings%20item&choice[description]=desc&choice[multiple]=true&choice[min_qty]=0&choice[max_qty]=5&choice[priority]=2&choice[order_by_priority]=false&choice[multiple_ingredients]=true&choice[size]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7bd782665c6e4ceb246c74b0fa808315"
    body:
      encoding: UTF-8
      string: '{"success":true,"choice":{"id":213612,"name":"toppings item","multiple":true,"min_qty":0,"max_qty":5,"priority":2,"order_by_priority":false,"active":true,"description":"desc"}}'
  recorded_at: Fri, 23 Mar 2018 13:39:52 GMT
recorded_with: VCR 4.0.0
