---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/69212.json
    body:
      encoding: US-ASCII
      string: choice[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d6f48cedbcb146d15646c09687441e30"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":69212,"name":"ccc","multiple":true,"min_qty":3,"max_qty":5,"priority":3,"order_by_priority":false,"active":false}}'
  recorded_at: Thu, 13 Feb 2014 09:04:40 GMT
recorded_with: VCR 2.5.0
