---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/69212.json
    body:
      encoding: UTF-8
      string: choice[modifier_id]=&choice[name]=&choice[description]=&choice[active]=false&choice[multiple]=&choice[min_qty]=&choice[max_qty]=&choice[priority]=&choice[order_by_priority]=&choice[multiple_ingredients]=&choice[size]=
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5768140351ec7bed6053eb7b137448a9"
    body:
      encoding: UTF-8
      string: '{"success":true,"choice":{"id":69212,"name":"","multiple":null,"min_qty":null,"max_qty":null,"priority":null,"order_by_priority":null,"active":false,"description":""}}'
  recorded_at: Fri, 18 Aug 2017 11:26:44 GMT
recorded_with: VCR 3.0.3
