---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/69212.json
    body:
      encoding: US-ASCII
      string: choice[name]=ddd&choice[active]=true&choice[multiple]=true&choice[min_qty]=3&choice[max_qty]=5&choice[priority]=3
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"bc909d483f75d3773650ba953b4f7d70"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":69212,"name":"ddd","multiple":true,"min_qty":3,"max_qty":5,"priority":3,"order_by_priority":false,"active":true}}'
  recorded_at: Mon, 31 Mar 2014 15:32:17 GMT
recorded_with: VCR 2.5.0
