---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/69212.json
    body:
      encoding: US-ASCII
      string: choice[name]=ccc&choice[active]=true&choice[multiple]=true&choice[min_qty]=3&choice[max_qty]=5&choice[priority]=3
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c6582a2faba15a8e3d0e1abba6f24564"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"choice":{"id":69212,"name":"ccc","multiple":true,"min_qty":3,"max_qty":5,"priority":3,"order_by_priority":false,"active":true}}'
  recorded_at: Wed, 19 Feb 2014 13:11:53 GMT
recorded_with: VCR 2.5.0
