---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/69212.json
    body:
      encoding: UTF-8
      string: choice[modifier_id]=1&choice[name]=ddd&choice[active]=true&choice[multiple]=true&choice[min_qty]=3&choice[max_qty]=5&choice[priority]=3
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dccfc589c7f27c715ea27d66c30aac25"'
    body:
      encoding: UTF-8
      string: '{"success":true,"choice":{"id":69212,"name":"CHOOSE YOUR PROTEIN","multiple":false,"min_qty":1,"max_qty":1,"priority":3,"order_by_priority":false,"active":true,"description":null}}'
  recorded_at: Mon, 04 May 2015 05:44:15 GMT
recorded_with: VCR 2.9.3
