---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/69212.json
    body:
      encoding: UTF-8
      string: choice[modifier_id]=1&choice[name]=ddd&choice[active]=true&choice[multiple]=true&choice[min_qty]=3&choice[max_qty]=5&choice[priority]=3&choice[multiple_ingredients]=true&choice[size]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3ffc46edfd4555b9a58717dc5adb18e"
    body:
      encoding: UTF-8
      string: '{"success":true,"choice":{"id":69212,"name":"CHOOSE YOUR PROTEIN","multiple":false,"min_qty":1,"max_qty":1,"priority":3,"order_by_priority":null,"active":true,"description":null}}'
  recorded_at: Fri, 18 Aug 2017 11:26:44 GMT
recorded_with: VCR 3.0.3
