---
http_interactions:
- request:
    method: put
    uri: http://orders.api.biznettechnologies.com/v4/orders/fcbe0bfe-78df-11e5-94c3-4e2ac2a314c1/cancel.json
    body:
      encoding: UTF-8
      string: reason=food%20was%20cold&sender=test
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"551613a621b01d524a24afbca2cac818"'
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":202,"message":"Accepted"}}'
  recorded_at: Thu, 14 Jul 2016 11:28:58 GMT
recorded_with: VCR 3.0.3
