---
http_interactions:
- request:
    method: put
    uri: http://orders.api.biznettechnologies.com/v4/orders/56b19cde-ac68-11e3-9088-123138166518/cancel.json
    body:
      encoding: UTF-8
      string: reason=food%20was%20cold
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"551613a621b01d524a24afbca2cac818"'
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":202,"message":"Accepted"}}'
  recorded_at: Mon, 04 May 2015 05:47:34 GMT
recorded_with: VCR 2.9.3
