---
http_interactions:
- request:
    method: put
    uri: http://secure.biznettechnologies.com/v3/orders/56b19cde-ac68-11e3-9088-123138166518/cancel
    body:
      encoding: US-ASCII
      string: reason=food%20was%20cold
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"551613a621b01d524a24afbca2cac818"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":202,"message":"Accepted"}}'
  recorded_at: Tue, 18 Mar 2014 15:47:08 GMT
recorded_with: VCR 2.5.0
