---
http_interactions:
- request:
    method: put
    uri: http://orders.api.biznettechnologies.com/v4/orders/faf1ff3c-c0b8-11e3-8cc3-22000a98a19e/close.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f16431cbdbf7ed2128a127aeef743a40"'
    body:
      encoding: UTF-8
      string: '{"success":false,"status":{"code":500,"message":"undefined method `in_time_zone''
        for nil:NilClass"}}'
  recorded_at: Mon, 11 Jul 2016 14:48:26 GMT
[...]
- request:
    method: put
    uri: http://orders.api.biznettechnologies.com/v4/orders/faf1ff3c-c0b8-11e3-8cc3-22000a98a19e/close.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f16431cbdbf7ed2128a127aeef743a40"'
    body:
      encoding: UTF-8
      string: '{"success":false,"status":{"code":500,"message":"undefined method `in_time_zone''
        for nil:NilClass"}}'
  recorded_at: Mon, 11 Jul 2016 14:48:30 GMT
recorded_with: VCR 3.0.3
