---
http_interactions:
- request:
    method: put
    uri: http://orders-api.biznettechnologies.com/v4/orders/faf1ff3c-c0b8-11e3-8cc3-22000a98a19e/close.json
    body:
      encoding: UTF-8
      string: sender=test
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f16431cbdbf7ed2128a127aeef743a40"
    body:
      encoding: UTF-8
      string: '{"success":false,"status":{"code":500,"message":"undefined method `in_time_zone''
        for nil:NilClass"}}'
  recorded_at: Thu, 03 Nov 2016 09:36:00 GMT
[...]
- request:
    method: put
    uri: http://orders-api.biznettechnologies.com/v4/orders/faf1ff3c-c0b8-11e3-8cc3-22000a98a19e/close.json
    body:
      encoding: UTF-8
      string: sender=test
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f16431cbdbf7ed2128a127aeef743a40"
    body:
      encoding: UTF-8
      string: '{"success":false,"status":{"code":500,"message":"undefined method `in_time_zone''
        for nil:NilClass"}}'
  recorded_at: Thu, 03 Nov 2016 09:36:04 GMT
recorded_with: VCR 3.0.3
