---
http_interactions:
- request:
    method: put
    uri: http://secure.biznettechnologies.com/v4/orders/faf1ff3c-c0b8-11e3-8cc3-22000a98a19e/close.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1ccc5f287f888d3b376143c25a88bed0"'
    body:
      encoding: US-ASCII
      string: ! '{"success":false,"status":{"code":500,"message":"Event ''close''
        cannot transition from ''confirmed''"}}'
  recorded_at: Thu, 16 Oct 2014 17:03:35 GMT
recorded_with: VCR 2.9.3
