---
http_interactions:
- request:
    method: put
    uri: http://secure.biznettechnologies.com/v4/orders/faf1ff3c-c0b8-11e3-8cc3-22000a98a19e/close.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6df9170a179a03db79a1afa08f9e0d4e"'
    body:
      encoding: US-ASCII
      string: ! '{"success":false,"status":{"code":500,"message":"Event ''close''
        cannot transition from ''invoiced''"}}'
  recorded_at: Mon, 16 Mar 2015 09:21:08 GMT
recorded_with: VCR 2.9.3
