---
http_interactions:
- request:
    method: put
    uri: http://orders-api.biznettechnologies.com/v4/orders/e692b248-57f7-11e5-99a6-927284b3d77a/confirm.json
    body:
      encoding: UTF-8
      string: time=2016-07-12%2011%3A23&duration=20&sender=test
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"551613a621b01d524a24afbca2cac818"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":202,"message":"Accepted"}}'
  recorded_at: Thu, 03 Nov 2016 09:35:52 GMT
recorded_with: VCR 3.0.3
