---
http_interactions:
- request:
    method: put
    uri: http://secure.biznettechnologies.com/v4/orders/56b19cde-ac68-11e3-9088-123138166518/miss.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"551613a621b01d524a24afbca2cac818"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":202,"message":"Accepted"}}'
  recorded_at: Thu, 05 Jun 2014 17:05:37 GMT
recorded_with: VCR 2.5.0
