---
http_interactions:
- request:
    method: put
    uri: http://orders.api.biznettechnologies.com/v4/orders/faf1ff3c-c0b8-11e3-8cc3-22000a98a19e/open.json
    body:
      encoding: UTF-8
      string: reason=out%20of%20fish&sender=test
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5f814ddbf67db9ff32ed18b484f6e78a"'
    body:
      encoding: UTF-8
      string: '{"success":false,"status":{"code":500,"message":"undefined method `uuid''
        for nil:NilClass"}}'
  recorded_at: Thu, 14 Jul 2016 11:28:59 GMT
[...]
- request:
    method: put
    uri: http://orders.api.biznettechnologies.com/v4/orders/faf1ff3c-c0b8-11e3-8cc3-22000a98a19e/open.json
    body:
      encoding: UTF-8
      string: reason=out%20of%20fish&sender=test
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5f814ddbf67db9ff32ed18b484f6e78a"'
    body:
      encoding: UTF-8
      string: '{"success":false,"status":{"code":500,"message":"undefined method `uuid''
        for nil:NilClass"}}'
  recorded_at: Thu, 14 Jul 2016 11:29:03 GMT
recorded_with: VCR 3.0.3
