---
http_interactions:
- request:
    method: put
    uri: http://secure.biznettechnologies.com/v4/orders/faf1ff3c-c0b8-11e3-8cc3-22000a98a19e/open.json
    body:
      encoding: US-ASCII
      string: reason=out%20of%20fish
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"358bdc1971ee30aaf7c38ad94c94fbf2"'
    body:
      encoding: US-ASCII
      string: ! '{"success":false,"status":{"code":500,"message":"Event ''open'' cannot
        transition from ''invoiced''"}}'
  recorded_at: Mon, 16 Mar 2015 09:21:07 GMT
recorded_with: VCR 2.9.3
