---
http_interactions:
- request:
    method: put
    uri: http://secure.biznettechnologies.com/v4/orders/faf1ff3c-c0b8-11e3-8cc3-22000a98a19e/open.json
    body:
      encoding: US-ASCII
      string: reason=out%20of%20fish
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8f4db6ba545fbd332a851209c69123f6"'
    body:
      encoding: US-ASCII
      string: ! '{"success":false,"status":{"code":500,"message":"Event ''open'' cannot
        transition from ''confirmed''"}}'
  recorded_at: Thu, 16 Oct 2014 17:03:34 GMT
recorded_with: VCR 2.9.3
