---
http_interactions:
- request:
    method: put
    uri: http://secure.biznettechnologies.com/v3/orders/9ec79b04-580d-11e3-ac68-123138166518/reject
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a0f7c3a30287e9f5090c9a3a2a5e8f2c"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"order":{"uuid":"9ec79b04-580d-11e3-ac68-123138166518","id":362308}}'
  recorded_at: Wed, 04 Dec 2013 13:08:41 GMT
recorded_with: VCR 2.5.0
