---
http_interactions:
- request:
    method: get
    uri: http://orders.api.biznettechnologies.com/v4/orders/793c50d8-c0bc-11e3-8cc3-22000a98a19e.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5289c3688a21bac37563166ee4d71f86"'
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"order":{"id":"793c50d8-c0bc-11e3-8cc3-22000a98a19e","code":"7447","carts":[{"uuid":"a3ae524a-c0bb-11e3-9321-12313931488a","version":0,"member":{"name":"Vinit
        Agrawal"},"items":[{"id":2495619,"quantity":1,"name":"Build Your Own... Nalley
        Salad","groups":[{"name":"Protein choice","modifiers":[{"id":2433063,"quantity":1,"name":"Falafel
        Baked - Gluten-Free","alias":"","price":0,"tax":0,"total":0}]},{"name":"Greens
        choice","modifiers":[{"id":2433064,"quantity":1,"name":"Romaine","alias":"ROM","price":0,"tax":0,"total":0}]},{"name":"Toppings
        add 8","modifiers":[{"id":2433067,"quantity":1,"name":"Craisins","alias":"CRAZ","price":0,"tax":0,"total":0},{"id":2433066,"quantity":1,"name":"Brown
        Rice","alias":"BrownRICE","price":0,"tax":0,"total":0},{"id":2433065,"quantity":1,"name":"Black
        Beans","alias":"BBeans","price":0,"tax":0,"total":0},{"id":2433072,"quantity":1,"name":"Tortilla
        Strips Toasted","alias":"Tort","price":0,"tax":0,"total":0},{"id":2433069,"quantity":1,"name":"Edamame
        - Soy Beans","alias":"EDA","price":0,"tax":0,"total":0},{"id":2433070,"quantity":1,"name":"Red
        Onion","alias":"ONION","price":0,"tax":0,"total":0},{"id":2433071,"quantity":1,"name":"Red
        Quinoa","alias":"QUIN","price":0,"tax":0,"total":0},{"id":2433068,"quantity":1,"name":"Cucumber","alias":"CUK","price":0,"tax":0,"total":0}]},{"name":"Salad
        Dressings","modifiers":[{"id":2433073,"quantity":1,"name":"Cucumber-Yogurt
        dairy","alias":"CY","price":0,"tax":0,"total":0}]}],"menu":"Menu","category":"Nalley
        Salads","barcode":"","alias":"Build a SALAD","price":800,"tax":48,"item_total":800,"total":800,"comments":null,"resource_url":""}],"discounts":[],"adjustments":[]}],"tracking":"","resource_url":"http://orders.api.biznettechnologies.com/v4/orders/793c50d8-c0bc-11e3-8cc3-22000a98a19e.json","placed_at":"2014-04-10
        10:29 -0400","comments":null,"customer":{"name":"Vinit Agrawal","email":"vinit100@gmail.com","phone":"8608816246","address":null,"resource_url":""},"channel":{"id":32,"permalink":"nalleyfresh","name":"Nalley
        Fresh","resource_url":"http://api.biznettechnologies.com/v3/channels/nalleyfresh.json","integration":"site"},"restaurant":{"id":623,"permalink":"nalleyfresh","name":"Nalley
        Fresh - Baltimore","address":{"lat":"39.289646","lng":"-76.612896","delivery_instructions":null,"full":"120
        E Baltimore St, Baltimore, MD 21202"},"locale":"en","resource_url":"http://api.biznettechnologies.com/v3/channels/nalleyfresh/restaurants/nalleyfresh.json"},"service":{"id":"PICKUP","label":"Pickup","value":{"location":"120
        E Baltimore St, Baltimore, MD 21202"}},"time":{"id":"SCHEDULE","label":"Schedule","value":"2014-04-10
        11:40 -0400"},"tender":{"id":"CARD","label":"Card","value":{"paid":true,"type":"1513","last_4_digits":"discover","as":"Zuppler
        Food Order"}},"tip":{"id":"PERCENT","label":"Percent","value":0},"settings":{"catering":null,"extra_fields":[]},"totals":{"subtotal":800,"discount":0,"charges":{"delivery":0,"service":0},"tax":48,"tip":0,"total":848},"rewards":{"bucks":64,"points":8000}}}'
  recorded_at: Mon, 04 May 2015 05:47:33 GMT
recorded_with: VCR 2.9.3
