---
http_interactions:
- request:
    method: get
    uri: http://secure.biznettechnologies.com/v4/orders/793c50d8-c0bc-11e3-8cc3-22000a98a19e.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b5492a22efe1785499404d341070c6df"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":200,"message":"OK"},"order":{"id":"793c50d8-c0bc-11e3-8cc3-22000a98a19e","code":"7447","resource_url":"http://secure.biznettechnologies.com/v4/orders/793c50d8-c0bc-11e3-8cc3-22000a98a19e.json","customer":{"name":"Vinit
        Agrawal","email":"vinit100@gmail.com","phone":"8608816246","verified":false,"orders":1,"resource_url":""},"channel":{"id":32,"name":"Nalley
        Fresh","resource_url":"http://api.biznettechnologies.com/v3/channels/nalleyfresh.json"},"restaurant":{"id":623,"name":"Nalley
        Fresh - Baltimore","resource_url":"http://api.biznettechnologies.com/v3/restaurants/nalleyfresh.json"},"service":{"id":"PICKUP"},"time":{"id":"SCHEDULE","value":"2014-04-10T11:40:00-04:00"},"tender":{"id":"CARD"},"totals":{"subtotal":800,"discount":0,"tax":48,"tip":0,"total":848},"carts":[{"uuid":"a3ae524a-c0bb-11e3-9321-12313931488a","member":{"name":"Vinit
        Agrawal"},"items":[{"id":2495619,"quantity":1,"comments":"","name":"Build
        Your Own... Nalley Salad","price":800,"tax":48,"total":800,"resource_url":"","modifiers":[{"id":2433063,"quantity":1,"name":"Falafel
        Baked - Gluten-Free","price":0,"tax":0,"total":0},{"id":2433064,"quantity":1,"name":"Romaine","price":0,"tax":0,"total":0},{"id":2433065,"quantity":1,"name":"Black
        Beans","price":0,"tax":0,"total":0},{"id":2433066,"quantity":1,"name":"Brown
        Rice","price":0,"tax":0,"total":0},{"id":2433067,"quantity":1,"name":"Craisins","price":0,"tax":0,"total":0},{"id":2433068,"quantity":1,"name":"Cucumber","price":0,"tax":0,"total":0},{"id":2433069,"quantity":1,"name":"Edamame
        - Soy Beans","price":0,"tax":0,"total":0},{"id":2433070,"quantity":1,"name":"Red
        Onion","price":0,"tax":0,"total":0},{"id":2433071,"quantity":1,"name":"Red
        Quinoa","price":0,"tax":0,"total":0},{"id":2433072,"quantity":1,"name":"Tortilla
        Strips Toasted","price":0,"tax":0,"total":0},{"id":2433073,"quantity":1,"name":"Cucumber-Yogurt
        dairy","price":0,"tax":0,"total":0}]}],"discounts":[]}]}}'
  recorded_at: Thu, 05 Jun 2014 17:18:52 GMT
recorded_with: VCR 2.5.0
