---
http_interactions:
- request:
    method: get
    uri: http://orders.api.biznettechnologies.com/v4/orders/793c50d8-c0bc-11e3-8cc3-22000a98a19e.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5e76eb889da159f3a839b700f006d985"'
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"},"order":{"id":"793c50d8-c0bc-11e3-8cc3-22000a98a19e","code":"7447","carts":[{"uuid":"a3ae524a-c0bb-11e3-9321-12313931488a","version":0,"member":{"name":"Vinit
        Agrawal"},"items":[{"id":2495619,"quantity":1,"name":"Build Your Own... Nalley
        Salad","groups":[{"name":"Protein choice","substitution":"null","modifiers":[{"id":2433063,"modifier_id":750732,"dish_id":69760,"quantity":1,"name":"Falafel
        Baked - Gluten-Free","alias":"","price":0,"tax":0,"total":0,"priority":14}]},{"name":"Greens
        choice","substitution":"null","modifiers":[{"id":2433064,"modifier_id":124523,"dish_id":69765,"quantity":1,"name":"Romaine","alias":"ROM","price":0,"tax":0,"total":0,"priority":7}]},{"name":"Toppings
        add 8","substitution":"null","modifiers":[{"id":2433065,"modifier_id":307149,"dish_id":139962,"quantity":1,"name":"Black
        Beans","alias":"BBeans","price":0,"tax":0,"total":0,"priority":0},{"id":2433066,"modifier_id":132124,"dish_id":83691,"quantity":1,"na[...]
