---
http_interactions:
- request:
    method: put
    uri: http://orders.api.biznettechnologies.com/v4/orders/faf1ff3c-c0b8-11e3-8cc3-22000a98a19e.json
    body:
      encoding: UTF-8
      string: order[metadata][rds][market_id]=12
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6db8ce9acfb2afbe25e042572c95774e"'
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"OK"}}'
  recorded_at: Thu, 14 Jul 2016 11:29:08 GMT
recorded_with: VCR 3.0.3
