---
http_interactions:
- request:
    method: put
    uri: http://orders-api.biznettechnologies.com/v4/orders/faf1ff3c-c0b8-11e3-8cc3-22000a98a19e.json
    body:
      encoding: UTF-8
      string: order[metadata][rds][market_id]=12
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ee08f12cf6009217a4b7c582f3706eb"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":200,"message":"Updated"},"order":{"id":"faf1ff3c-c0b8-11e3-8cc3-22000a98a19e","favorite":null,"metadata":{"rds":{"market_id":"12"},"pos":null}}}'
  recorded_at: Thu, 03 Nov 2016 09:36:05 GMT
recorded_with: VCR 3.0.3
