---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v2/channels/zuppler/restaurants/demorestaurant/menus.json
    body:
      encoding: US-ASCII
      string: menu[name]=lunch&menu[special]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5c281838dccf148ae8746780f102da6e"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"id":21376,"name":"lunch","categories":[]}'
  recorded_at: Wed, 04 Dec 2013 13:56:12 GMT
recorded_with: VCR 2.5.0
