---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus.json
    body:
      encoding: UTF-8
      string: menu[name]=lunch&menu[priority]=1&menu[description]=desc&menu[locked]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ac991d0bcf1e31118aa20e4266b32e2b"'
    body:
      encoding: UTF-8
      string: '{"success":true,"menu":{"id":24924,"name":"lunch","description":"desc","active":false,"default":null,"use_category_tabs":null,"available_on":"","available_at":"Sun:
        10:00am  - 10:00am <br/>Mon: 10:00am  - 10:00am <br/>Tue: 10:00am  - 10:00am
        <br/>Wed: 10:00am  - 10:00am <br/>Thu: 10:00am  - 10:00am <br/>Fri: 10:00am  -
        10:00am <br/>Sat: 10:00am  - 10:00am ","resource_url":"http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/24924.json","categories":[]}}'
  recorded_at: Mon, 04 May 2015 05:44:28 GMT
recorded_with: VCR 2.9.3
