---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus.json
    body:
      encoding: UTF-8
      string: menu[name]=lunch&menu[priority]=1&menu[description]=desc&menu[locked]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cb0523e10dabb5072218010bab8fbd47"
    body:
      encoding: UTF-8
      string: '{"success":true,"menu":{"id":28421,"name":"lunch","description":"desc","active":false,"default":null,"use_category_tabs":null,"availability":{"custom":false,"days":255,"time":[],"services":15},"available_on":"","available_at":"Sun:
        10:00am  - 10:00am <br/>Mon: 10:00am  - 10:00am <br/>Tue: 10:00am  - 10:00am
        <br/>Wed: 10:00am  - 10:00am <br/>Thu: 10:00am  - 10:00am <br/>Fri: 10:00am  -
        10:00am <br/>Sat: 10:00am  - 10:00am ","resource_url":"http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/28421.json","chain":false,"categories":[]}}'
  recorded_at: Fri, 23 Mar 2018 13:39:53 GMT
recorded_with: VCR 4.0.0
