---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus.json
    body:
      encoding: US-ASCII
      string: menu[name]=lunch&menu[priority]=1&menu[description]=desc&menu[locked]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1b96d2680d83aece7a63d0608996852b"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"menu":{"id":24883,"name":"lunch","description":"desc","active":false,"default":null,"use_category_tabs":null,"available_on":"","available_at":"Sun:
        10:00am  - 10:00am <br/>Mon: 10:00am  - 10:00am <br/>Tue: 10:00am  - 10:00am
        <br/>Wed: 10:00am  - 10:00am <br/>Thu: 10:00am  - 10:00am <br/>Fri: 10:00am  -
        10:00am <br/>Sat: 10:00am  - 10:00am ","resource_url":"http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/24883.json","categories":[]}}'
  recorded_at: Mon, 16 Mar 2015 09:38:47 GMT
recorded_with: VCR 2.9.3
