---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus.json
    body:
      encoding: US-ASCII
      string: menu[name]=lunch&menu[priority]=1&menu[description]=desc
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b76c4dca9f9fd7328827774008d6ce4f"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"menu":{"id":21417,"name":"lunch","description":"desc","active":true,"default":null,"use_category_tabs":null,"available_on":"","available_at":"Sun:
        5:00am  - 4:00pm <br/>Mon: 5:00am  - 4:00pm <br/>Tue: 5:00am  - 4:00pm <br/>Wed:
        5:00am  - 4:00pm <br/>Thu: 5:00am  - 4:00pm <br/>Fri: 5:00am  - 4:00pm <br/>Sat:
        5:00am  - 4:00pm ","resource_url":"http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/21417.json","categories":[]}}'
  recorded_at: Tue, 18 Feb 2014 09:07:54 GMT
recorded_with: VCR 2.5.0
