---
http_interactions:
- request:
    method: post
    uri: http://api.zuppler.dev/v2/channels/demorestaurant/restaurants/demorestaurant/menus.json
    body:
      encoding: US-ASCII
      string: menu[name]=lunch&menu[special]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"23acc30ebf03b294cbcce20fee79f28f"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"id":21178,"name":"lunch","categories":[]}'
  recorded_at: Wed, 11 Sep 2013 15:55:16 GMT
recorded_with: VCR 2.5.0
