---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus.json
    body:
      encoding: US-ASCII
      string: menu[name]=lunch&menu[priority]=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"fe116056e7c7ba0926f1b0eb1d64853a"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"menu":{"id":21384,"name":"lunch","description":null,"active":true,"default":null,"use_category_tabs":null,"available_on":"","available_at":"Sun:
        5:00am  - 4:00pm <br/>Mon: 5:00am  - 4:00pm <br/>Tue: 5:00am  - 4:00pm <br/>Wed:
        5:00am  - 4:00pm <br/>Thu: 5:00am  - 4:00pm <br/>Fri: 5:00am  - 4:00pm <br/>Sat:
        5:00am  - 4:00pm ","resource_url":"http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/21384.json","categories":[]}}'
  recorded_at: Wed, 29 Jan 2014 10:59:03 GMT
recorded_with: VCR 2.5.0
