---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v2/channels/demorestaurant/restaurants/demorestaurant/menus.json
    body:
      encoding: US-ASCII
      string: menu[name]=lunch&menu[special]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"cf921064adfb5a5273f08b893796717e"'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{},"valid":true,"id":21156,"name":"lunch","categories":[]}'
  recorded_at: Tue, 17 Sep 2013 12:02:06 GMT
recorded_with: VCR 2.5.0
