---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/22418.json
    body:
      encoding: UTF-8
      string: menu[name]=mmm&menu[priority]=1&menu[description]=ddd&menu[active]=true&menu[locked]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0a176415591fcfd3b33aa54bc6f0a497"'
    body:
      encoding: UTF-8
      string: '{"success":true,"menu":{"id":22418,"name":"mmm","description":"ddd","active":true,"default":false,"use_category_tabs":true,"available_on":"","available_at":"Sun:
        8:00am  - 12:00pm ","resource_url":"http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/menus/22418.json","categories":[{"id":1718,"name":"Entrees","description":"","active":true,"priority":1,"items":[{"id":19055,"name":"New
        York Strip","description":"grilled 10 oz center cut steak topped with a hint
        of seasoned butter and an onion ring garnish.  Served with mashed potatoes
        and vegetables ","price":24.99,"multiple_sizes":false,"featured":false,"coupon":false,"coupon_code":null,"priority":2,"image":{"active":true,"id":2108,"xlarge":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/002/108/xlarge/Strip
        Steak1.jpg","medium":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/002/108/medium/Strip
        Steak1.jpg","thumb":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/002/108/thumb/Strip
        Steak1.jpg","tiny":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/002/108/tiny/Strip
        Steak1.jpg","original":"http://dbgcbnch6yz43.cloudfront.net/images/pictures/files/000/002/108/original/Strip
        Steak1.jpg"},"active":true,"resource_url":"http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/items/19055.json"},{"id":19057,"name":"Grilled
        Chicken Skewers","description":"skewered chicken breast marinated in Caribbean
        Jerk seasonings, grilled and drizzled with a mango rum glaze. Served with
        rice pilaf and vegetables","price":15.0,"multiple_sizes":f[...]
