---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/66913/modifiers.json
    body:
      encoding: US-ASCII
      string: modifier[name]=cheese&modifier[description]=desc&modifier[price]=0.99&modifier[size]=small&modifier[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"63eeb985112e33f1fa1d008524a7befc"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"modifier":{"id":929458,"name":"cheese","price":"0.99","active":true,"size_name":"small","priority":2,"parent_id":370480}}'
  recorded_at: Mon, 04 Aug 2014 11:49:15 GMT
recorded_with: VCR 2.9.2
