---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/66913/modifiers.json
    body:
      encoding: US-ASCII
      string: modifier[name]=cheese&modifier[description]=desc&modifier[price]=0.99&modifier[size]=small&modifier[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c85e6b2973c38319d1af7456c7336d91"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"modifier":{"id":1761017,"size_name":"small","name":"cheese","price":"0.99","priority":2,"active":true,"parent_id":549278}}'
  recorded_at: Mon, 16 Mar 2015 09:13:54 GMT
recorded_with: VCR 2.9.3
