---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/66913/modifiers.json
    body:
      encoding: UTF-8
      string: modifier[name]=cheese&modifier[description]=desc&modifier[price]=0.99&modifier[size]=small&modifier[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"faaef1bcb4cca187bf9142969ba78b5e"'
    body:
      encoding: UTF-8
      string: '{"success":true,"modifier":{"id":1762134,"size_name":"small","name":"cheese","price":"0.99","priority":2,"active":true,"parent_id":549278}}'
  recorded_at: Fri, 28 Aug 2015 10:08:50 GMT
recorded_with: VCR 2.9.3
