---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/66913/modifiers.json
    body:
      encoding: UTF-8
      string: modifier[name]=cheese&modifier[description]=desc&modifier[price]=0.99&modifier[size]=small&modifier[priority]=2&modifier[default]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f7a680f6a68633674d92a9792d837ea"
    body:
      encoding: UTF-8
      string: '{"success":true,"modifier":{"customization_id":66913,"id":1946215,"size_name":"small","name":"cheese","description":"desc","price":"0.99","priority":2,"active":true,"default":true,"parent_id":725341}}'
  recorded_at: Mon, 30 Jul 2018 14:48:31 GMT
recorded_with: VCR 4.0.0
