---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/66913/modifiers.json
    body:
      encoding: UTF-8
      string: modifier[name]=cheese&modifier[description]=desc&modifier[price]=0.99&modifier[size]=small&modifier[priority]=2&modifier[default]=true
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f62b42bb4d500a437cc8167ac5525f78"
    body:
      encoding: UTF-8
      string: '{"success":true,"modifier":{"customization_id":66913,"id":1779288,"size_name":"small","name":"cheese","description":null,"price":"0.99","priority":2,"active":true,"default":true,"parent_id":549278}}'
  recorded_at: Thu, 06 Oct 2016 15:37:36 GMT
recorded_with: VCR 3.0.3
