---
http_interactions:
- request:
    method: post
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/choices/66913/modifiers.json
    body:
      encoding: UTF-8
      string: modifier[name]=cheese&modifier[description]=desc&modifier[price]=0.99&modifier[size]=small&modifier[priority]=2
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b78ad5adefe5d19ca75e36da3e12204c"'
    body:
      encoding: UTF-8
      string: '{"success":true,"modifier":{"id":1762110,"size_name":"small","name":"cheese","price":"0.99","priority":2,"active":true,"parent_id":549278}}'
  recorded_at: Mon, 04 May 2015 05:44:25 GMT
recorded_with: VCR 2.9.3
