---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/modifiers/1.json
    body:
      encoding: UTF-8
      string: modifier[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71b729885ee16df5b429f1f813bfc6d1"
    body:
      encoding: UTF-8
      string: '{"success":true,"modifier":{"customization_id":1,"id":1,"size_name":"","name":"bacon","description":null,"price":0.0,"priority":7,"active":true,"default":null,"parent_id":461}}'
  recorded_at: Mon, 30 Jul 2018 14:48:43 GMT
recorded_with: VCR 4.0.0
