---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/modifiers/1.json
    body:
      encoding: UTF-8
      string: modifier[active]=false
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1de0b39c77aa8c24037be2451399eee6"'
    body:
      encoding: UTF-8
      string: '{"success":true,"modifier":{"id":1,"size_name":"","name":"bacon","price":0.0,"priority":7,"active":true,"parent_id":461}}'
  recorded_at: Mon, 04 May 2015 05:44:26 GMT
recorded_with: VCR 2.9.3
