---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/modifiers/812695.json
    body:
      encoding: UTF-8
      string: modifier[option_id]=1&modifier[name]=cream&modifier[price]=1.99&modifier[priority]=1&modifier[default]=true&modifier[customization_id]=85100
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f65ae1d265fd8fe5f26772a75bdc20b6"'
    body:
      encoding: UTF-8
      string: '{"success":true,"modifier":{"customization_id":85100,"id":812695,"size_name":"Extra-Large","name":"bacon","price":0.0,"priority":7,"active":true,"default":true,"parent_id":330875}}'
  recorded_at: Mon, 09 Nov 2015 16:32:26 GMT
recorded_with: VCR 2.9.3
