---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/modifiers/1.json
    body:
      encoding: US-ASCII
      string: modifier[option_id]=1&modifier[name]=cream&modifier[price]=1.99&modifier[priority]=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5586df49ee88ebaaa51a893839505506"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"modifier":{"id":1,"name":"cream","price":"1.99","active":false,"size_name":"","priority":1,"parent_id":461}}'
  recorded_at: Thu, 07 Aug 2014 19:20:18 GMT
recorded_with: VCR 2.9.2
