---
http_interactions:
- request:
    method: put
    uri: http://api.biznettechnologies.com/v3/channels/zuppler/restaurants/demorestaurant/modifiers/812695.json
    body:
      encoding: UTF-8
      string: modifier[name]=cream&modifier[description]=up%20up&modifier[price]=1.99&modifier[priority]=1&modifier[default]=true&modifier[customization_id]=85100
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"70a1539c0ebf5418512d3b446727bf26"
    body:
      encoding: UTF-8
      string: '{"success":true,"modifier":{"customization_id":85100,"id":812695,"size_name":"Extra-Large","name":"cream","description":"up
        up","price":"1.99","priority":1,"active":true,"default":true,"parent_id":330875}}'
  recorded_at: Thu, 06 Oct 2016 15:39:39 GMT
recorded_with: VCR 3.0.3
