---
http_interactions:
- request:
    method: put
    uri: http://secure.biznettechnologies.com/v4/orders/962635ae-d752-11e3-8584-123138166518/notifications/pos/confirm.json
    body:
      encoding: US-ASCII
      string: sender=cucumber
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"551613a621b01d524a24afbca2cac818"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":202,"message":"Accepted"}}'
  recorded_at: Wed, 06 Aug 2014 10:25:42 GMT
recorded_with: VCR 2.9.2
