---
http_interactions:
- request:
    method: put
    uri: http://orders-api.biznettechnologies.com/v4/orders/4d81ba6c-9507-11e4-a48a-22000b5d9596/notifications/pos/execute.json
    body:
      encoding: UTF-8
      string: sender=cucumber
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"551613a621b01d524a24afbca2cac818"
    body:
      encoding: UTF-8
      string: '{"success":true,"status":{"code":202,"message":"Accepted"}}'
  recorded_at: Thu, 03 Nov 2016 09:41:41 GMT
recorded_with: VCR 3.0.3
