---
http_interactions:
- request:
    method: put
    uri: http://secure.biznettechnologies.com/v4/orders/4d81ba6c-9507-11e4-a48a-22000b5d9596/notifications/pos/execute.json
    body:
      encoding: US-ASCII
      string: sender=cucumber
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"551613a621b01d524a24afbca2cac818"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"status":{"code":202,"message":"Accepted"}}'
  recorded_at: Mon, 16 Mar 2015 09:38:12 GMT
recorded_with: VCR 2.9.3
