---
http_interactions:
- request:
    method: get
    uri: http://users.api.zuppler.com/v1/users/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_token", error_description="The access
        token is invalid"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success": false, "status": {"code": 401, "message": "401 Unauthorized"}}'
  recorded_at: Wed, 30 Mar 2016 14:10:21 GMT
recorded_with: VCR 3.0.1
